[2014-07-29 20:14] insanum opened #1 "Terminal corruption"
Sometimes when logs are being presented at the bottom of the terminal, the body section gets corrupted. _The corruption quickly goes away when urwid refreshes the screen_. Need to figure out if this is a python/urwid/sncli issue or a terminal issue.

[2014-08-25 00:21] Qu4tro opened #2 "Add a license"
I think it's important to projects to have a license. Consider MIT. It's a good license.

[2014-08-25 00:23] #2 closed, assigned to nobody

[2014-08-25 01:15] Qu4tro opened #4 "Upload it to Pypi"
Making sure that it's installable with [pipsi](https://github.com/mitsuhiko/pipsi).

If you need some help, let me know.

[2014-09-01 03:50] shelbyKiraM opened #5 "No urwid?"
I had to pip install urwid... On Mac OS X 10.10.

[2014-09-03 19:22] #5 closed, assigned to nobody

[2014-09-12 01:48] qcu opened #6 "sync_worker RuntimeError: maximum recursion depth exceeded"
During sync, at some point long after the screen has completely filled with "Synced new note from server (key=...)" log messages (another issue), the following traceback appears, ending with "RuntimeError: maximum recursion depth exceeded."

[code]

[2014-09-12 01:49] qcu opened #7 "Sync is not running in background, and log messages in gui_footer_log fill the entire screen"
Sync does not run in the background. Rather, as soon as sync starts, no keyboard input is possible, and log messages "Synced new note from server (key=...)" log messages begin marching up the screen. Once the screen is filled, the log messages pause, until "Enter" is pressed, then they continue scrolling past until sncli crashes as per #6.

[2014-09-12 01:58] qcu opened #8 "Starting sncli while disconnected from network results in all notes being deleted from disk."
Starting sncli while disconnected from network results in all notes being deleted from disk.

The README speaks of two-way sync, so offline operation support was the expected behavior, with two-way sync once network connectivity was re-established. Are off-line operations not supported? If not supported currently, is off-line support planned in the future?

[code]

[2015-01-08 17:33] linuxsquad opened #12 "Support for Emacs as editor (SOLVED)"
First, thanks for the software. I have a great affinity to many CLI tools, and glad to see feature - rich implementaion.

One request, how much work needed to  replace VI with emacs?

Thanks

Oleg

[2015-01-08 18:03] insanum commented on #12
It should just work after setting your EDITOR environment variable.

Let me know... :-)

- e
On Jan 8, 2015 9:34 AM, "Oleg Brodkin" <notifications@github.com> wrote:

[2015-01-09 16:20] linuxsquad commented on #12
I've set env EDITOR=emacs, but sncli was not picking this up and continuing  to use VI.

Well... then I just went and added config like this

and it worked. Thanks

[2015-01-25 15:15] s5unty opened #13 "'UTF-8' problem"
When edit the file which content has "UTF-8" charset, something wrong:

[code]

I did a quick patch for myself.
Without much more testing.
Hope it will works well for other guys ;)

[code]

[2015-03-31 08:26] insulsa opened #15 "missing comma in getopt parametre cause two long option not recognised"
https://github.com/insanum/sncli/blob/master/simplenote_cli/sncli.py#L1117
a comma is missing between "verbose" and "nosync", causing these options not recognised.

[2015-04-02 15:47] insanum commented on #7
Fixed: 93a48205e39300169d7d73c62fcc39056e3a1785

[2015-04-02 15:47] #7 closed

[2015-04-02 15:47] insanum commented on #6
Fixed: 93a48205e39300169d7d73c62fcc39056e3a1785

[2015-04-02 15:47] #6 closed

[2015-04-02 15:52] insanum commented on #15
Yikes! Thanks for pointing that out... :-)
a99afd0ef61360028f22a13300f472e8195de68b

[2015-04-02 15:52] #15 closed

[2015-04-02 23:26] insanum commented on #12
Fixed: 71b053d762a332359dbb083df3438ff4c7b943dc

[2015-04-02 23:26] #12 closed

[2015-04-02 23:27] insanum commented on #13
Can you please support a pull request? Thanks.
https://help.github.com/articles/using-pull-requests/

[2015-04-23 09:04] stevepowell99 opened #17 "crash on edit"
hi, sncli crashes when I press e for edit. On ubuntu 14.04, 64bit.

[2015-04-23 13:37] axs221 commented on #17
Hi Steve, I am also on Ubuntu 14.04 64-bit, and this isn't occurring for me. Can you provide some more details?

* Does it produce a runtime error message / call stack?
* Can you send your log file (it should be under ~/.sncli/sncli.log I believe)?
* Which screen are you on?
* What is your EDITOR environment variable set to, if it is set (in your BASH terminal, type $ env | grep EDITOR)?

[2015-04-23 13:42] stevepowell99 commented on #17
EDITOR=/usr/bin/gedit
No errors in the log file.
Sorry don't understand "what screen are you on".
Desktop environment is mate.
Error message in terminal is:

  File "/usr/local/lib/python2.7/dist-packages/urwid/raw_display.py", line 392, in <lambda>
    event_loop, callback, self.get_available_raw_input())
  File "/usr/local/lib/python2.7/dist-packages/urwid/raw_display.py", line 492, in parse_inp

[2015-04-24 14:15] axs221 commented on #17
Thanks! It looks like you are using Unicode, and the Python "tempfile" library is being used. tempfile doesn't directly support Unicode, so sncli would need to be modified to encode the unicode string contents you are trying to save for the note. http://stackoverflow.com/questions/10490816/how-to-create-a-temporary-file-with-unicode-encoding

[2015-04-25 22:44] axs221 commented on #13
I have merged in changes in the latest commit (afafc4969aea2b896c7e3bd54f6c08f42f072052). This encoding problem was also affecting issue #17.

[2015-04-25 22:44] #13 closed

[2015-04-25 22:47] axs221 commented on #17
Hi Steve,

I have committed a change in the master branch that should fix your issue.

I was able to reproduce your issue. Issue #13 is related. I also found a separate issue with Gedit where changes made in Gedit weren't being recognized by the program, resulting in a "note unchanged" message. This should be fixed as well.

Please let me know if you have any issues editing or saving still. If not

[2015-04-25 22:49] axs221 commented on #8
@insanum I had seen this issue as well in the past. Have you had a chance to look into this or shall I take a look?

[2015-04-25 22:52] insanum commented on #8
Go for it. :-)

[2015-04-26 16:40] axs221 commented on #8
This issue should be fixed in the latest commit to master. I added in a variable/logic to skip trying to sync if the connection fails. It will show an error about the connection still, but it won't try to continue to sync and therefore try to delete local notes when it fails.

Temp file changes should be saved to disk correctly, and the note saved correctly, and the note will sync once the connect

[2015-04-26 19:18] insanum commented on #8
Nice! ☺

[2015-05-10 00:55] #8 closed

[2015-05-10 00:56] #17 closed

[2015-05-26 10:09] tvqt opened #18 "disable log footer/automatic syncing"
I've been using sncli for a while, and one thing is really starting to annoy me: when I use it offline, the program is constantly trying to connect to the simplenote server, triggering the log which makes the footer pop up, and in the process, distracting me. This could be rectified with a number of different features:
- user-triggered syncing (press s to sync or something)
- an option to disable

[2015-05-26 12:58] axs221 commented on #18
I just checked in a change for this. For now I went with the third option. The verbose command line argument seemed to be for CLI-only mode before, but I have now extended it to apply to the urwid interface. You can tell if a note is saved if there is not an "X" in the main list, so the log footer isn't totally necessary, and I agree that it can be annoying.

Separate note, I was also running into

[2015-05-30 19:20] DiagonalArg opened #19 "Ubuntu 12.04. Error on first run."
Hi.  I'm running Ubuntu 12.04 with python 2.7 and python-urwid installed.  I ran "sudo python setup.py install" to do the install and then made a ~/.snclirc with a dummy account name.  When I run "sncli -n", I get the following error.  I don't know any python, but it looks like some problem with urwid?  Thoughts?

    sncli -n
    Traceback (most recent call last):
      File "/usr/local/bin/sncli

[2015-05-30 19:24] DiagonalArg commented on #19
Even with my real credentials in there, and removing the -n, I get the same error.

[2015-05-31 17:29] axs221 commented on #19
Hi DiagonalArg,

You are correct, it doesn't appear to be referencing urwid correctly. It is
a module, similar to a namespace in other languages, and it can't find
something that should be there.

Can you check the version of urwid installed? If you have pip installed,
try pip show urwid:

$ pip show urwid
---
Name: urwid
Version: 1.3.0
Location:
/usr/local/lib/python2.7/dist-packages/urwid-1.3.0-

[2015-06-03 18:16] DiagonalArg commented on #19
@axs211 - Well, "pip show urwid" doesn't work:

    pip show urwid
    Usage: pip COMMAND [OPTIONS]

    pip: error: No command by the name pip show
      (maybe you meant "pip install show")

But "aptitude show python-urwid" does:

    Package: python-urwid
    State: installed
    Automatically installed: no
    Version: 1.0.1-2
    Priority: optional
    Section: universe/python
    Maintainer:

[2015-06-08 17:08] axs221 commented on #19
Sorry for the delay. What if you try:

$ sudo apt-get install python-pip
$ sudo pip install urwid

It appears your version of urwid (*1.0.1-2*) is a little out-of-date. Here
is mine:

$ pip show urwid
---
Name: urwid
Version: *1.3.0*
Location:
/usr/local/lib/python2.7/dist-packages/urwid-1.3.0-py2.7-linux-x86_64.egg

Best regards,

Shawn

Shawn Axsom

On Wed, Jun 3, 2015 at 2:16 PM, DiagonalArg <n

[2015-06-12 23:05] DiagonalArg commented on #19
@axs221 - that appears to do it!  (At least I've got a help command working, and logs!)  Thanks man.

Command line, here I come!

/DA.

[2015-06-12 23:05] #19 closed

[2015-06-18 04:12] DiagonalArg opened #20 "Error on creating a note."
I'm having an error now on creating my first note.  This is on ubuntu 12.04.  I set `cfg_editor = vi` (which is vim-tiny).  I also installed `urwid` with `pip install urwid` as discussed in #19.  Version now is:

[code]

When I use "C" to create a note, all seems well util I save the note using `:wq`, which is what I assume I should do when I want to return out of vim into the sncli interface, cor

[2015-06-30 17:28] axs221 commented on #20
Hi Diagonal,

My wife had our first child, so understandably I won't be able to get to this too quickly. I did look into the error message earlier. I don't think it would be related to URWID. At this location in the code, it is trying to get the ID of the note you created, so it can then use that ID when telling it which note to selected when displaying the main list of notes again.

You are corre

[2015-07-03 08:15] DiagonalArg commented on #20
Congratulations Shawn!  :)

I do have two notes in the simplenote account, the "thank you for signing up" note and a test note that I created there.  Regardless, I am running using `sncli -n`.  While I do have the credentials for the simplenote account in the .snclirc, but I'm assuming that the `-n` means that whether it's saved or not and the contents of that account is irrelevant.  I have only o

[2015-11-13 01:31] guillaumeger opened #21 "Cannot create a new note"
On OS X 10.10.2, when creating a new note I save and quit vim and the note is not saved.
There is no error in the log file.

[2016-03-25 07:25] kadomcevi opened #23 "Search using cyrillic(unicode?) characters cause crash"
How to reproduce:
open sncli
type command:  /фото
program crashed
Traceback (most recent call last):
  File "./sncli", line 33, in <module>
    sncli.main(sys.argv[1:])
  File "/home/igor/prj/sncli/sncli/simplenote_cli/sncli.py", line 1200, in main
    sncli(sync).gui(key)
  File "/home/igor/prj/sncli/sncli/simplenote_cli/sncli.py", line 1016, in gui
    self.sncli_loop.run()
  File "/usr/lib64/py

[2016-03-28 08:11] swalladge commented on #23
The results of my research into this today:

The reason this is happening is because there is inconsistency with how strings are being handled. Python 2 has two types of strings, and both are used here: 'str' and 'unicode'. See [https://pythonhosted.org/kitchen/unicode-frustrations.html#frustration-3-inconsistent-treatment-of-output](https://pythonhosted.org/kitchen/unicode-frustrations.html#frust

[2016-03-28 09:03] kadomcevi commented on #23
No - your fix not working at all.
first patch:
Traceback (most recent call last):
  File "./sncli", line 33, in <module>
    sncli.main(sys.argv[1:])
  File "/home/igor/prj/sncli/sncli/simplenote_cli/sncli.py", line 1200, in main
    sncli(sync).gui(key)
  File "/home/igor/prj/sncli/sncli/simplenote_cli/sncli.py", line 1016, in gui
    self.sncli_loop.run()
  File "/usr/lib64/python2.7/site-packag

[2016-03-28 09:42] swalladge commented on #23
I know - it only works for that particular section - it was just an example of how to go about fixing the general problem overall. As I said before, the whole converting to unicode type or 'str' type would have to be done program-wide so every part of it supports unicode characters outside the ascii set. (Either that, or port to python 3 to take advantage of updated functionality in strings.)

I'l

[2016-04-01 07:57] swalladge commented on #23
@kadomcevi I've been working on porting to python 3, and thus fixing encoding issues. Try out my [python3 branch](https://github.com/swalladge/sncli/tree/python3) if you like. I'm able to search for any unicode characters without it crashing now. :smile:

Disclaimer/warning - it seems fairly stable to me, but it is now using a different networking library (requests instead of urllib), and there's

[2016-04-01 08:18] kadomcevi commented on #23
$ sncli
Traceback (most recent call last):
  File "/usr/bin/sncli", line 30, in <module>
    from simplenote_cli import sncli
  File "/usr/lib64/python3.3/site-packages/simplenote_cli/sncli.py", line 44
    except Exception, e:
                    ^
SyntaxError: invalid syntax

[2016-04-01 09:03] swalladge commented on #23
@kadomcevi Can you provide more context? I have definitely fixed all syntax errors in the branch/fork I linked to, so whatever is at '/usr/lib64/python3.3/site-packages/simplenote_cli/sncli.py' isn't my modified version.

Also, would you mind taking all further discussion about things specific to my fork over to a new issue on my fork? That would avoid this thread getting quite offtopic and keep d

[2016-04-01 09:09] kadomcevi commented on #23
Sorry, my mistake. It is not your branch:(

[2016-05-22 14:26] qcu commented on #23
Similar issue encountered when simply opening a note in the viewer. The note contains unicode quotation marks, single quotes, and other punctuation characters.

UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019' in position 5: ordinal not in range(128)

Traceback:
...
  File "/usr/lib/python2.7/dist-packages/urwid/canvas.py", line 1291, in apply_text_layout
    text[s.offs:s.end])

[2016-05-23 11:18] swalladge commented on #23
@qcu Sorry for highjacking this thread, but I'm not sure of the development status of this project (no updates in a year). I forked the project a while back, and made some updates to help fix problems with unicode encoding errors - check out my python3 branch of https://github.com/swalladge/sncli, which includes some refactorings and depends on python 3 instead of 2, and hopefully fixes most of th

[2016-05-23 16:09] insanum commented on #23
Hi @swalladge. Thank you for chipping away at this issue. Please submit a pull request for your fixes. While I don't use/develop sncli as much as I used to, I'd be more than happy to give you commit access to help maintain this project. Of course... fork all you want as well. :-)

[2016-05-23 23:42] swalladge commented on #23
@insanum Ok thanks, I'll do that right away. I guess I'm keen on fixing bugs as they arise because I use it a lot personally. Would be a lot better keeping development here in the original project, rather than maintaining other forks (and I don't particularly want to highjack your project!). If you would review/accept pull requests, I'll be more than happy to help maintain it and go bug hunting. :

[2016-05-24 16:12] insanum commented on #23
Giving you keys to the kingdom... :-)

[2016-05-27 01:07] swalladge commented on #23
@kadomcevi, @qcu, please test with the latest changes merged here (taking into account the new dependencies) to see if the problem has been fixed for you. I've been testing it, with no crashing relating to  using unicode characters anymore.

[2016-05-27 07:44] kadomcevi commented on #23
@swalladge Thanks, Samuel. Now all work fine as expected :)

[2016-05-27 08:03] #23 closed

[2016-05-27 13:17] qcu opened #24 "Notes deleted from disk locally after updating to new python3 update, 100 notes remain"
Hi @swalladge. Thanks for your efforts on the unicode issue and for keeping sncli development moving!

I will try to dive into debugging this further at some point, or understanding the new python3 code.

Quick question for now: is there a new synchronization and local caching strategy in place with the new python3 code, to only cache 100 notes locally?

Note: I have a large 1500 note database, an

[2016-05-27 13:57] swalladge commented on #24
Thanks for picking that up! (I have just under 100 notes by the way, so wouldn't have discovered that!)

As far as I know, I didn't change anything regarding the notes database. It
could be that something inadvertently was changed when porting network
operations to the requests library though (getting an incorrect value for
number of notes for example) - so that would possibly be the first place t

[2016-05-27 14:47] swalladge commented on #24
The above commit should solve the specific problem you are getting. The issue was that I hadn't updated a loop condition to use the response object (so the loop to keep getting blocks of 100 notes never executed).

[2016-05-27 15:54] qcu commented on #24
Tested. Appears to have resolved the issue. Thanks @swalladge.

[2016-05-27 15:54] #24 closed

[2016-05-27 16:15] qcu opened #25 "Viewer encoder crash while parsing "smart quote" and "smart dash" unicode characters"
Do we need to spread the new unicode goodness further throughout the code base? If so, I could help dig into this later. Not urgent from my p.o.v.

Just opening this as a new issue as my comment in #23 seems to be unresolved so far by the latest python3 commits, as apparently this "Viewer open with unicode character" case is different than the #23 "Search with unicode characters" case.

Issue summ

[2016-05-27 16:24] qcu commented on #25
Complete traceback...

<pre>
Traceback (most recent call last):
  File "./sncli", line 33, in <module>
    sncli.main(sys.argv[1:])
  File "/home/<>/Workspaces/sncli/simplenote_cli/sncli.py", line 1206, in main
    sncli(sync, verbose, config).gui(key)
  File "/home/<>/Workspaces/sncli/simplenote_cli/sncli.py", line 1018, in gui
    self.sncli_loop.run()
  File "/usr/lib/python3/dist-packages/urwi

[2016-05-28 02:20] qcu commented on #25
Yeah, I was thinking it must be in the urwid library based on the traceback.

Perhaps as you suggest, it is an outdated library. I am using the .deb python3-urwid package 1.1.1-1build2 and looks like python3 urwid 1.3.1 is stable, upstream. That urwid 1.1.1 deb package was just installed earlier this week, after an apt-update, on ubuntu trusty (14.04.4 LTS). Another potential variable is the ARM /

[2016-05-30 22:08] retrography commented on #5
@insanum @blacRose The requirements have to be specified with `install_requires` and `setuptools` must be used instead of `distutils.core`: http://python-packaging-user-guide.readthedocs.io/en/latest/requirements/

[2016-05-30 22:55] retrography opened #27 "Spacebar as keybinding"
Is there any way to bind spacebar to a function with the current configuration files?

[2016-05-31 00:28] swalladge commented on #27
This wasn't previously possible due to configparser ignoring whitespace-only values (sets them to empty strings). Commit 44cc2b1 fixes this by allowing you to use the `space` keyword to bind spacebar to an action. See also the urwid [article on user input](http://urwid.org/manual/userinput.html#keyboard-input) for examples of how to format other keybindings. `tab` and `enter` work as well.

[2016-05-31 00:28] #27 closed

[2016-05-31 00:52] retrography commented on #27
thanks!

[2016-05-31 02:29] qcu commented on #25
I installed urwid-1.3.1 using pip3 with the new requirements.txt, and that did partially resolve the viewer issue with certain unicode characters ("smart quotes" and "smart dashes/hyphens").

So, with the update from urwid-1.1 to 1.3, the viewer now opens notes containing certain unicode characters.

However there is a different crash when returning from the editor to the viewer. Even when the con

[2016-05-31 03:22] swalladge commented on #25
It seems to be a problem with reading the temporary file - I'm guessing as it's being written in binary mode (ie with bytes), so maybe it should be opening for reading in binary mode as well...? I'll look into it, but it's difficult because I can't reproduce this crash on my machine either. (I've tested with python 3.4.4 and 3.5.1, with latest pip packages for urwid and requests.)

[2016-05-31 04:17] swalladge commented on #25
We could probably remove the `tempfile_content` 'hack' altogether and do something like this (which would probably fix your current error):

[code]

There's still the potential problem mentioned as a comment: "When editing with Gedit, tf file contents weren't getting [updated?]". Whether that's going to be fixed in python3 or not, I don't know.

[2016-05-31 08:15] swalladge commented on #21
@guillaumeger If you're still around, do you get this issue with the latest version of sncli? Some more details would be useful for finding the cause of the issue as well. :)

[2016-05-31 08:20] swalladge commented on #18
Can this issue be closed now? It would seem that the original issue has been solved, and the requests library has replaced urllib2.

[2016-05-31 08:25] swalladge commented on #20
This is definitely still an issue. Steps to reproduce:

1. run `sncli -n` (so it doesn't try syncing)
2. create a new note
3. try to view the note

The problem is that before it has synced to the server, there is no "key" key set in the note object. This could probably be fixed with some refactoring or using a "localkey" key as is used in other places.

[2016-05-31 13:58] qcu commented on #25
I'm on python3 (debian trusty package version: 3.4.0-0ubuntu2) with urwid-1.3.1 installed via pip3.

FWIW, below is a sample note JSON with the offending unicode chars.

Again, at this point the only "unicode crash" that I am experiencing is when returning from "editor" to "viewer" as described in the preceding comment.

<pre>
$ cat ~/.sncli/e22d8c672adc4e4096db0c9ea6538c5c.json
{
  "tags": [],

[2016-06-01 02:49] qcu commented on #25
Thanks, @swalladge. Just confirming that the example patch above to sncli.py does indeed resolve my current error.

I tested the patch locally and I am no longer seeing a crash when viewing or editing notes containing unicode characters.

I will attempt to test with Gedit as an editor, to see if there are side-effects from removing the tempfile_content(tf) hack.

<pre>
# This seems like a hack. Wh

[2016-06-01 03:37] swalladge commented on #25
Great! Ok, so I did some testing myself, (don't know why I didn't before) and yes Gedit still produces the problem... Did some searching around and it seems it's a known problem (and doesn't just affect gedit). Ref [this stackoverflow answer](http://stackoverflow.com/a/28072233/3089519).

An alternative that might still fix your problem would be to re-open the file in binary mode and decode to utf

[2016-06-01 04:51] qcu commented on #20
I started experiencing this issue anytime I create a new note with sncli, even when my machine is online and sync is /not/ disabled with the `-n` option. (Although, perhaps the "key" creation operations are just timing out due to a slow connection?)

In the past, I have typically created new notes with nvALT and just used sncli to update notes. So, I'm not sure if this error was recently (re)intro

[2016-06-01 05:05] qcu commented on #25
Confirmed. This latest patch does also help.

Tested this patch while opening the viewer from the index, opening the viewer after opening the unicode note in the editor (vim), both with and without editing the content.

[2016-06-01 05:25] swalladge commented on #25
@qcu great! Fix pushed - that should (hopefully) be the last of the unicode encoding trouble.

[2016-06-01 05:25] #25 closed

[2016-06-01 06:22] swalladge commented on #20
I've created a new branch ([localkeys](https://github.com/insanum/sncli/tree/localkeys)) to experiment with fixing this issue. The main reason this is happening, is that although a localkey is created to add the note to it's in-memory database, until the note is synced with the server there is no 'key' key in the note data. I'm attempting to add a 'localkey' key to all notes to use internally.

Fe

[2016-07-07 01:35] swalladge commented on #20
localkeys is now merged into master, along with another last-minute fix. This should fix any crashes/errors relating to note keys.

Please let me know if you still get errors to do with this.

[2016-07-07 05:02] swalladge commented on #4
@Qu4tro sncli is now available on Pypi, and is installable with both pip and pipsi. Please let us know if you have any problems. :)

[2016-07-07 05:02] #4 closed

[2016-10-03 17:27] shankargopal opened #30 "Crashing with TypeError unorderable types on first run in Debian"
Thank you for all the work on this program!

I'm trying to get it installed in a Debian Jessie system that mostly runs packages from the testing repository (i.e. all the Python packages are from there).  With some difficulty I managed to install it using `pip3 install sncli` (I had to separately install the python3-wheel, python3-urwid, python3-request and python3-setuptools packages to get it to

[2016-10-04 07:34] swalladge commented on #30
I just attempted to install sncli myself on a Debian Jessie (lxc container since my computer is running Arch - it should still work the same though). This was from a clean base install and I was able to run it successfully with:
[code]
It ran fine and I didn't encounter your problem. I also ran `pip uninstall urwid` and `apt install python3-urwid` to use the system version instead, and no problems

[2016-10-04 11:51] shankargopal commented on #30
And... that worked perfectly!

Thank you.  My bad.  I think I may have installed one of the dependencies in Python 2 instead of Python 3 (though those are separate paths, so I'm not sure how that created a problem, but anyway).

Thank you very much once again for making such a great program.

On Tue, 04 Oct 2016 00:34:01 -0700
Samuel Walladge <notifications@github.com> wrote:

[2016-10-04 16:15] #30 closed

[2016-10-05 04:46] shankargopal opened #31 "Google style search is case sensitive on tags?"
I have just started using this wonderful program, with help from you all, and hope to make it a main part of my workflow.

One small issue has appeared.  The README.md says that google style search is case insensitive.  But it appears to be case sensitive when searching tags.  I am not able to attach a screenshot (Github keeps saying "Something went really wrong") but I am able to reproduce this.

[2016-10-06 00:16] swalladge commented on #31
After looking through the code, I can tell you that with the google-style search, words and other patterns are matched case-insensitively, but tags are matched case-sensitively. There's currently no way to configure that (apart from modifying the code yourself).

I'd be interested to hear from @insanum as to whether it would be useful to add a configuration option or flag in the search string to t

[2016-10-06 02:12] shankargopal commented on #31
Can you tell me where in the code this functionality occurs? I know Python
but am not confident of my abilities to find the correct location of this
myself. If you'd like I'll make the change and submit a patch. It seems to
me that while a toggle switch is the ideal option, in the absence of that
tag search in google style searching should also be case insensitive, to be
consistent with text searc

[2016-10-06 03:41] swalladge commented on #31
The actual matching happens in the `_helper_gstyle_tagmatch` and `_helper_gstyle_wordmatch` functions located in `/simplenote_cli/notes_db.py`. You should be able to find where those functions are called to follow the tree up from there.

Yes definitely feel free to submit pull requests for any changes you make. 😄

Personally I think features that could be implemented to improve search could inclu

[2016-10-06 19:33] insanum commented on #31
I think these are great ideas. Bring on the pull requests! :-)

[2016-12-31 05:18] swalladge opened #32 "Can't login to simplenote anymore. [provide more meaningful errors]"
sncli won't login to simplenote for me now. Nothing has changed on sncli's side, so I suspect Simplenote has changed its API.

I get the following in the log:
[code]

I'll look into it as soon as I get time, but in the meantime, interested to see if anyone else has this problem as well?

[2016-12-31 12:00] swalladge commented on #32
My bad - turns out I had changed my credentials and forgotten to update `.snclirc`... but still, displaying traceback and warnings about an error 400 isn't good behaviour when the credentials are invalid.

My plan now is to improve error handling in the network to give more meaningful errors, so the user can tell what the problem is, whether it be network connectivity, invalid credentials, etc.

[2017-01-23 02:54] swalladge commented on #31
Also it seems that the current tag matching uses `startswith`, so a search for `tag:foo` would match notes with tags `foo`, `foobar`, and `foobaz`. Perhaps the functionality by default should be either exact tag match (so `foo` would only match notes with the `foo` tag), or use `in` (so `foo` would match `foo` and `barfoobar`). Thoughts?

[2017-01-23 03:54] swalladge commented on #31
I have now implemented an optional case-insensitive flag for regex searches, and tag matches in the google style search is case-insensitive.

[2017-01-23 05:07] #32 closed

[2017-01-23 05:17] shankargopal commented on #31
Many, many thanks.  I had in fact implemented case insensitive tag
matching in the google style searching on my own machine, but never
managed to make a pull request.  Apologies for that.

On the other question, I had noticed that, and felt that substring
searching (using 'in') for tags rather than exact / startswith would be
best - only because many people automatically assume that substring
sear

[2017-01-23 05:39] swalladge commented on #31
Agreed, `in` feel more intuitive. Implemented.

@shankargopal if you're happy that your original problem has been resolved, can we close this issue?

[2017-01-23 08:06] for-coursera opened #33 "Several keybindings for one action?"
Is is possible to have several alternate keybindings for one action? Like, `q`, `<Esc>`, `<F10>` for quit?

[2017-01-23 08:18] swalladge commented on #33
Not currently. It could be possible, but easily become quite messy in the codebase...

What use cases are you thinking of where this would be useful?

[2017-01-23 08:28] for-coursera commented on #33
Just indulging to a person's habits? :) Hotkeys are mostly the muscular memories, so adding more options could save some additional seconds for some of us.

On the other hand, if I'm the first to ask, then it's not that badly needed, I presume.

[2017-01-23 08:45] swalladge commented on #33
Yep this hasn't come up before. I'm trying to think of a use case that could
make it worthwhile attempting to implement it. Currently you can remap any of
the default keybindings to whatever you want, so if you find one of `q` or
`<esc>` or `<F10>` faster for quit, then you're free to rebind it. This has
obviously been enough so far.

Of course if you can come up with a neat, efficient method of i

[2017-01-23 09:48] #18 closed

[2017-01-23 10:07] #20 closed

[2017-01-25 10:10] 097115 opened #34 "Any chance for 'sort notes by tags'?"
Like, an additional `yes/no` option, and then `by date` or `by alpha` inside a tag?

[2017-01-25 11:32] swalladge commented on #34
This sounds like an interesting idea - I'll definitely look into it. I'm not sure how this would work though. Since notes have multiple tags, should the list of tags be sorted, and then the notes sorted by that? How are you thinking it should work exactly? :)

[2017-01-25 11:41] 097115 commented on #34
My thinking was that since note's tags can be arranged by a user manually (by entering those in a [specific order](http://i.imgur.com/pozCVxb.png)), then the first tag should be given an advantage… What do you think?

[2017-02-09 19:09] NewMexicoKid opened #35 "sncli crashes with TypeError: unorderable types: function() < function()"
**Problem**:

- When I first installed sncli (via pip3), everything worked beautifully.
- After a reboot, when invoking sncli, it pops up, I'm able to move around and enter a note, but perhaps 2-3 seconds in I get an error. Afterwards, all key presses don't do anything and I have to ctrl-C out of sncli.
- Is this a Windows 7-related issue? I've had no problems running sncli under ubuntu.

**Enviro

[2017-02-10 05:54] swalladge commented on #35
Ok, so it happening 2-3 seconds after opening is because it's happening when it tries to start a full sync (once it's logged in). I can't see what could be causing that from sncli.

It looks like the problem is that  `self._alarms` in urwid somehow has functions as items in it, so when it uses heapq to add `(tm, callback)` (a tuple), it crashes. What version of `urwid` do you have?

[2017-02-10 10:32] swalladge commented on #34
@097115 I've added an implementation of sorting notes by tags in the `sort_tags` branch. Please try it out - feedback appreciated! I would also like suggestions for the default keybinding for sort by tags. (Remember that sort by title is `a` and by date is `d`.)

[2017-02-10 11:39] 097115 commented on #34
Now, that looks nice, thanks!

The only problem is that it seems to reset (sorting by tags switches off) after editing a tag or a note - i.e., after the sync process finishes. Don't  know if it's a feature or a bug :).

As per the keybinding, `C-t` seems handy and logical for me: you **sort** with single-letter hotkeys and toggle grouping on and off with a composite one :).

[2017-02-10 15:31] NewMexicoKid commented on #35
Thanks for the quick reply.
[code]

[2017-02-10 23:27] swalladge commented on #35
@NewMexicoKid Unfortunately I can't reproduce the crash. I tested it with python 3.4.5 and the urwid version you have (which is the latest one anyway). Perhaps it is a windows related problem - in that case I don't have a copy of windows 7 available to test it on, sorry.

Some things you could try:

- update your python installation to 3.6
- paste your .snclirc here (obviously without the username

[2017-02-10 23:36] swalladge commented on #34
Yes the sorting gets reset on sync - probably more of a bug than a feature.

Wait maybe I misinterpreted what you were requesting. Currently the tags sort is implemented exactly the same as the other sorts - it just sorts the notes with the key being the tags list. Python sorts are stable though, so if you press `d` to sort by date, then the sort-by-tags, notes with the same tags will be sorted by

[2017-02-11 05:36] 097115 commented on #34
No, you didn't :). Everything's OK, really (except for that reset on sync may be), I was just suggesting some sort of explanation for the hotkey choice :).

[2017-02-11 06:14] swalladge commented on #34
@097115, just pushed a fix for the resetting sort order on sync to that branch. If you could test it out, that would be great! I'll merge to master as soon as I'm happy that it's stable.

[2017-02-11 06:37] 097115 commented on #34
It seems now that "alpha" sorting gets reseted after sync to "date" (and `cfg_sort_mode = alpha` from `.snclirc` doesn't affect startup). As for tag sorting it looks like OK.

[2017-02-11 07:14] swalladge commented on #34
@097115 pushed some fixes: tag sorting is now deterministic (ties broken by modified date), and it should use the configuration sort mode on startup now (including in `list` and `dump` modes).

[2017-02-11 07:19] 097115 commented on #34
Looks like you can't now sort by alpha and tag? After pressing a key for sort by tags, it switches to sorting by date and tags.

[2017-02-11 07:58] swalladge commented on #34
Yep that's right. I can't think of any other neat way to have a deterministic sort (so it doesn't 'reset' on sync). Unless we have two 'tags' sorting functions - one with secondary sort being date and the other being by title.

[2017-02-11 08:05] 097115 commented on #34
Well, that's kinda sad news…

[2017-02-12 16:59] NewMexicoKid commented on #35
My .snclirc
[code]

I'm having difficulty locating the python 3.6 for cygwin. There was a github project for building it (for cygwin), but [I encountered a fatal error when trying this](https://github.com/AraHaan/py-3.6-cygwin/issues).

Trying the deletion of ~/.sncli (notes storage folder?).
I've added the debug lines you suggested and will report back if/when the issue strikes again.
Thanks!

[2017-02-13 18:09] NewMexicoKid commented on #35
It took a day, but sncli crashed with a longer output:
[code]
Nothing went to the log file from the debug lines added to urwid/main_loop.py

[2017-02-14 12:28] swalladge commented on #35
:\ Unfortunately that doesn't help much more. The only other thing I can think of is you could pastebin your sncli log file (removing sensitive information first!) for inspection, but I'm afraid that without access to the same platform as you are running it on, I'm not sure how I can help. Perhaps someone else in the community can shed light on what could be causing it.

[2017-02-14 15:54] NewMexicoKid commented on #35
Thanks, Samuel. [Here is my pastebin log](http://pastebin.com/BaauLEym) (with keys and auth and email removed).
I tried again to install python 3.6, but the build on Cygwin/Windows 7 is having problems.

[2017-02-14 22:27] swalladge commented on #35
@NewMexicoKid nothing out of the ordinary in the logs I can see. :\

[2017-02-19 01:48] jtoy opened #36 "work on python 2.x"
its great it works on python 3, can we get it to be compatible with python 2.7.x as the majority of *nix users are still on it?

[2017-02-19 22:10] swalladge commented on #36
This is going to be difficult due to all the internal operations with strings and bytes - see issue #23 for the major discussion around various crashes involving unicode characters. This was when I originally ported it to python3 to help fix those problems once and for all. (yay python3 strings!)

Also, while python2 might be the default in many *nix still, it's generally simple to install python3

[2017-02-21 08:51] insanum commented on #36
I personally would not spend any time porting back. FWIW, every single one of my *nix systems has both python2 and python3 installed. It's a lost cause IMO.

[2017-02-21 10:36] swalladge commented on #34
@097115 how happy are you about the tag sorting? I think I like it like that feature as it is - simple and useful for finding untagged notes. When it's all resolved, I'll merge to master and close the issue. :)

[2017-02-21 10:40] swalladge commented on #34
Also, any opinions on whether notes without tags should be shown above or below those with tags? Currently notes without tags are below, but my logic is saying without tags should be first.

[2017-02-21 10:43] 097115 commented on #34
Well, not really: in the end, I use now the first iteration, which resets after sync - since I'm more used to alpha sorting, not date.

As for notes without tags, I agree with you, showing them first makes more sense.

[2017-02-21 10:52] swalladge commented on #34
Improved the ordering - tag sorting is now live as of commit https://github.com/insanum/sncli/commit/605818411ac79bf85c945dd579e14669c2fb8b24

[2017-02-21 10:52] #34 closed

[2017-03-06 02:36] nivaca opened #37 "Note directory?"
Hi, is there a way of making sncli sync all notes for offline use in a directory? Thanks!

[2017-03-06 02:39] #37 closed

[2017-03-09 22:15] EgrettaGarzetta commented on #36
**Sorry,**  not at all sure if this is the right place to ask this, but I was very pleased to see a cli build of simplenote, and then disappointed because although I have python 2 & 3 on my linux boxes I cannot get it to run.

I guess from the tone of the discussion above that I'm making some elementary mistake, but I'd really appreciate getting to the bottom of this if anybody could help me out o

[2017-03-09 22:38] EgrettaGarzetta commented on #36
Hang on, I think I'm getting there. I must have done 'pip install sncli' (before using pip3) because after doing 'pip uninstall sncli' and 'pip3 uninstall sncli' followed by a reinstall with pip3 I have succeeded in running the program. So thanks - I'm looking forward to making good use of this.

[2017-03-09 22:49] swalladge commented on #36
@EgrettaGarzetta glad to hear you could get it working. 😃  If you have any more issues in future, please create a new issue rather than replying to an old issue to keep everything on topic, and if you post a traceback, you'll need to include the entire output, not just the top. 😉

[2017-03-09 23:00] EgrettaGarzetta commented on #36
Thanks Samuel, I'll bear those points in mind and get it right next time.

On Thu, Mar 9, 2017 at 10:49 PM, Samuel Walladge <notifications@github.com>
wrote:

[2017-03-27 23:38] 7Moses opened #38 "Sync Understandings,"
Thank you! for sncli,

I would like to clear up my understanding of Syncing, I only see Syncing of the note I am working in with Simplenote when I use wq and not with w, nor wa, is this right,

Thanks,

[2017-03-27 23:51] swalladge commented on #38
Correct, sncli will only save and sync a note _after_ you have saved and closed the editor. (Please correct me if you meant something else.)

[2017-03-30 02:53] 7Moses commented on #38
Thanks for the guidance,

[2017-03-30 04:28] #38 closed

[2017-05-26 14:24] hatelove85911 opened #39 "support shadow socks proxy configuration"
my sncli client can't login due to the GFW of China, please help add support for socks proxy.

[2017-05-26 14:41] swalladge commented on #39
It seems the Requests HTTP library we're using supports socks proxies directly (see http://docs.python-requests.org/en/master/user/advanced/#socks for more info). It should be doable - I'll investigate when I get some free time next.

[2017-07-13 08:50] s5unty opened #41 "if you want to configure 'cfg_pager' to show formatted markdown files"
1. install [mdv][1]
2. make a wrapper `/usr/local/sbin/mdless`
[code]
3. set it in `~/.snclirc`
[code]

[1]: https://github.com/axiros/terminal_markdown_viewer

[2017-07-13 09:36] swalladge commented on #41
@s5unty Thanks! This looks like it will be useful. 👍

I added this to the wiki on Github: https://github.com/insanum/sncli/wiki/Tips-and-Tricks

Feel free to edit it there if it requires changes, or add other tips/tricks/tutorials! 😄

[2017-07-13 09:36] #41 closed

[2017-09-19 16:10] ashiklom opened #43 "Filter/search tags (and maybe have a tag menu)"
First off, great application! I use it all the time, and it's the happiest I've been with a note application in a while.

I did have two related requests though:

1. Would it be possible to implement searching _only_ tags? Some of my tags happen to be common words, so when I search for them, I get all the notes with that tag _and_ all the notes that have the tag somewhere in their content.

2. Bui

[2017-09-20 01:12] swalladge commented on #43
Great to hear you enjoy sncli! :)

1. I believe this is already implemented. Can you describe how you are currently searching for a tag? The syntax is `/tag:tagname` to match tags only (disregarding note content).
2. Love this idea! Certainly something to add to the todo list - I'll look into it when I get some free time. :smile: (also to anyone reading this, PRs are always welcome! ;) )

[2017-09-20 13:50] ashiklom commented on #43
Thanks for the quick reply! I see now that my first question was also answered right there in the README -- RTFM, I suppose, but thanks for pointing it out! Tried it out and it works perfectly.

[2017-10-01 16:32] ashiklom opened #45 "Command line tag API"
Syntax like this would be cool.

[code]

This could be implemented in stages:
- [ ] `sncli tag get` -- Retrieve the tag string.
- [ ]  `sncli tag set` -- Modify the entire tag string.
- [ ] `sncli tag add` -- Add a tag. After the other two, should just be a simple string concatenation.
- [ ] `sncli tag rm` -- Remove a tag. Should just be a string substitution.

I can take a stab at implementing th

[2017-10-02 06:37] swalladge commented on #45
This does sound cool! I would say though that a tags interface as in issue #43 that allowed for viewing and managing tags would be more helpful to begin with perhaps?

Either way, whatever you work on, pull requests are welcome! This would require some major work I would say, which I don't have time to help out with at the moment unfortunately. All the best. :smile:

[2017-10-02 13:14] ashiklom commented on #45
I see no reason we can't do both! I'm interested in this CLI version because I'd like to develop some bash shortcut programs for common tasks. For instance, I wrote a small bash script called `sn-daily` that searches for a note called `<YYYY-MM-DD> -- Daily` with tag `daily` and opens it for editing if it exists or creates it if it doesn't. I need the Tag API described here to create the note with

[2017-10-02 22:33] swalladge commented on #45
Oh ha of course - here's me thinking it would require more server requests :facepalm: (maybe I was thinking about the graphical tags interface at the time, which may be a larger task). Well we have @insanum to thank for the awesome codebase. :+1:

[2017-10-04 02:41] swalladge commented on #45
Implemented in PR #46

[2017-10-04 02:41] #45 closed

[2017-10-11 23:37] MatthiasKauer opened #47 "Support for internal links"
Hi,
I'm a relatively new user and maybe this feature already exists or doesn't make sense.
Every once in a while it makes sense to refer from one note to another note.
nvpy allows this using `[[..]]`.

Example:
[code]
Clicking on `[[x]]` effectively populates the search bar with `x`.
Is something like that feasible and useful in sncli?

Best regards,
Matthias

[2017-10-11 23:43] MatthiasKauer commented on #47
In fact, regular web links are not straight-forward to click either, are they?
I opened the note in vim and used `gx` to open it in the browser. Is that the best way?

[2017-10-11 23:53] swalladge commented on #47
Currently sncli doesn't support mouse events at all. Maybe someone with more experience than me on urwid could work something out? Personally, I think the main point of sncli is that a mouse isn't required, so if this feature was added, it would have to also include a keyboard-only interface to clicking links as well.

Your best bet for opening regular links is to use a terminal emulator that supp

[2017-10-12 02:01] MatthiasKauer commented on #47
Oh, I wasn't suggesting a mouse interface.
The first link could be opened when hitting enter on a particular line, for instance.
The `gx` shortcut from vim is another option.

What do you think?

[2017-10-12 02:09] swalladge commented on #47
In that case, it should be perfectly doable! I wonder if it would also be feasible to incorporate parts of [urlscan](https://github.com/firecat53/urlscan) as well. :+1:

[2017-10-12 02:35] MatthiasKauer commented on #47
Cool.
I am wondering how useful urlscan will be.
It seems to be solving a similar issue but the interhal links `[[x]]` would have to be implemented in another way.
It also probably has features that aren't really needed here like the encoding handling but I wouldn't know.
Let's think about this for a bit, shall we?

[2017-10-12 03:09] swalladge commented on #47
Yep, it appears that opening external links is an already solved problem with piping to urlscan/urlview, or `gx` in vim. Internal links would have to be implemented directly in sncli because it must interface with the rest of the program (eg. searching and opening notes).

[2017-10-12 23:35] MatthiasKauer commented on #47
Just to clarify:
Piping is done by pressing `|` from the note browser or when a note is open, right?
That gives me an error but we should probably look at it in a separate issue. What do you think?

[2017-10-13 00:06] swalladge commented on #47
Yep, when the note is open or from the index view (will work with the selected note). Please do open a new issue if you get any errors with that! :+1:

[2017-10-13 01:15] MatthiasKauer opened #48 "Piping is not working"
Hi,
I am trying to pipe content to another program using the `|` key.

From within a note, I get the following traceback. I typed "cat" in the input field that appears on the bottom after pressing `|`.

[code]

Also tried "echo" on a note from the list or index viewer. Similar result.

[code]

I am running sncli in a virtualenv with Python 3.5 on Linux Mint 18.2 Xfce 64-bit.

Can you make sense of

[2017-10-13 01:19] swalladge commented on #48
Can you confirm which version/commit of sncli you are running?

[2017-10-13 01:48] MatthiasKauer commented on #48
Here's what I could find out after a bit of digging:

[code]

Is there a version command too?

[2017-10-13 01:57] swalladge commented on #48
Sorry there isn't a version command (yet). So it looks like you are running the 0.1.4 release - I had a look through the log and found that a few commits after that release this piping issue was fixed (in pull request #42). You could either update to the latest git master (via pip or manually building), or wait for the next release (I see if I can get around to it soon). :)

[2017-10-15 08:38] MatthiasKauer commented on #48
I have installed the latest version from master now.
Piping looks good there.

[2017-10-15 08:38] #48 closed

[2017-10-15 08:42] MatthiasKauer commented on #47
Piping requires installation from master but it works now (see #48) which brings me back to this issue. urlscan doesn't seem to be very good at extracting links from markdown. It included the closing ")" and wouldn't let me select many links at all. Maybe that's a configuration issue with urlscan though.

[2017-10-16 00:18] swalladge commented on #47
Possibly a configuration issue, or an old version - it works for me out of the box with urlscan 0.8.6, and urlview works fine with a good regex configured.

[2017-10-16 00:52] MatthiasKauer commented on #47
urlview seems to be better out of the box. I'll work with that for a bit.

[2017-10-25 22:43] MatthiasKauer opened #50 "Start editor in the currently highlighted line"
Hi,
when switching from note view to editor, I'd like the editor to start in the correct line.

I have taken a look at the code and it appears to me that `lb.focus_position` needs to be passed along to `exec_cmd_on_note`. For vim, the command to execute would be something like `vim <fname> +<line>`. Ideally, that could be encoded in the config so the style of other editors is also possible.

Do yo

[2017-10-26 04:13] swalladge commented on #50
Sounds good! Perhaps it could be implemented with substitution in the `cfg_editor` setting - eg. `cfg_editor = vim {filename} +{line}`.

I can't remember needing to copy between notes, but I'd probably simply copy to the clipboard, close and open the new note, then paste. I don't think it would work too well with multiple sncli processes running - it's not using a database as such, so would probab

[2017-10-28 06:37] MatthiasKauer opened #51 "CLI should return failing status when something doesn't work"
Hi,
I am trying to use sncli as a backup solution for simplenotes in addition to the main browsing/editing which is already going ok.

I can use `sncli export` the entire database to json just fine. However, I noticed that when I remove my credentials file, `sncli export` or `sncli sync` still succeed from a bash point of view.

Inside sncli, I get: "status 400, check credentials". But from the co

[2017-10-28 07:21] MatthiasKauer commented on #50
So, I have created a first proof of concept for this feature.

Getting `{line}` and `{fname}` interpolated was surprisingly simple.
Now, I am wondering what I broke with my changes.
Can you guide me a bit and tell me what I should check?

[2017-10-31 22:22] MatthiasKauer commented on #50
@swalladge How should I continue here?

[2017-10-31 22:47] swalladge commented on #50
@MatthiasKauer sorry I've been busy with other things over the last week. I'll check out your PR as soon as I can. :)

[2017-11-01 01:42] swalladge commented on #50
#52 has been merged and I completed the functionality. The latest master should have full support for opening the editor at the current line, as well as being fully backwards compatible. Thanks for the issue and PR @MatthiasKauer :+1:

[2017-11-01 01:42] #50 closed

[2017-11-01 02:31] MatthiasKauer commented on #50
Hmm. I would've loved to test that PR a bit more :|
Let's see how it goes. Contact me if things break. I doubt I broke something on a fundamental level.

[2017-11-01 20:06] leonhandreke opened #53 "Data recovery if crash during saving"
I experienced data loss today. I edited a note with vim, saved and quit, and when I came back to sncli, the UI was frozen. I quit sncli with Ctrl+C and my edit was lost.

This should never happen, there should be some sort of data recovery mechanism that ensures that after I have saved the file in vim, I can be sure not to lose its contents. I've lost data in the past due to my computer running ou

[2017-11-01 22:50] swalladge commented on #53
sncli creates a temporary file and passes that to the editor when you edit a note. This temporary file is then deleted once the editor closes and sncli saves the note. In late september ( https://github.com/insanum/sncli/commit/c233663028e4a593aaad283ba91e95d16a649ad8 ), the `cfg_tempdir` option was added which allows you to put the temporary directory somewhere persistent on disk so you can recov

[2017-11-03 19:35] leonhandreke commented on #53
Thanks for the quick reply, I set it to `~/.cache/sncli`, so next time this happens I'll be able to recover the data. I'm still thinking about whether this could be fixed in a more user-friendly way. Some ideas I had so far:
* By default, set `cfg_tempdir` to the cache directory according to the XDG spec.
* Use the note id as the filename, allow restoring from it at startup (but what happens with

[2017-11-03 19:35] #53 closed

[2017-11-03 23:10] swalladge commented on #53
@leonhandreke glad that fixes it for you! :)

Technically at the moment `cfg_tempdir` not a cache; it's purely a temporary place to store note content currently beiing edited - a communication between the editor and sncli. It's currently not possible to sync during editing with the current architecture. The running of the editor blocks sncli (no parallel processing).

It would seem to me that to s

[2017-11-06 12:45] J-F-M opened #54 "Issue with + sign"
Hi there,

Loving sncli but facing an issue: it seems as least the + sign is escaped/replaced by a blank space when sending to SN. To reproduce:

- create a new note in sncli with a + sign
- synch
- check the note from another SN client or the SN web interface

Notes created from other clients or from the SN web interface keep the + sign.

This makes sncli unsuitable to store e.g. code snippets or

[2017-11-06 22:25] swalladge commented on #54
:scream: Wow that's not good! I can't believe that has gone unnoticed for so long.

Thanks for reporting! :+1:

A fix is incoming.

[2017-11-06 22:32] #54 closed

[2017-11-07 10:52] J-F-M commented on #54
Excellent, thanks for the quick fix!

Now if you want a report about UTF-8 accented characters display, let me
know :)

On Mon, Nov 06, 2017 at 10:32:05PM +0000, Samuel Walladge wrote:

[2017-11-07 10:56] swalladge commented on #54
Sure, all bug reports appreciated! :+1:  I was hoping all the utf-8 issues were finally ironed out though... :cry:

[2017-11-07 11:06] J-F-M opened #55 "Little UTF8 display issue"
UTF-8 support in the content (notes) is fine, this is just about the display in urwid, so I'm not sure this really is a cncli bug.

Using Terminal.app or iTerm2.app on Mac OS, accented characters display as ? in the index or pager views (to clarify, they're fine when opening for editing in vim, and notes created in sncli with accented characters are also fine in other SN clients, it really is just

[2017-11-08 03:13] swalladge commented on #55
Hmm yeah this sounds more like a bug in urwid or something configured differently in the terminal apps themselves. I can't reproduce the problem on my linux machine, and I don't have access to a Mac OS system to test it myself (help wanted!).

Also to help, could you provide some more information, such as sncli version, urwid version, python version, screenshot of the problem, and any encoding rel

[2017-11-08 15:14] J-F-M commented on #55
Screenshot 1: sncli displaying question marks instead of accented UTF8 characters:
![sncli_1](https://user-images.githubusercontent.com/12444599/32556257-9f305cce-c4a7-11e7-8475-6ad20b82edc3.png)

Screenshot 2: vim displays the characters properly and identifies the file encoding as UTF-8
![sncli_2](https://user-images.githubusercontent.com/12444599/32556258-9f591164-c4a7-11e7-9956-cee7f8d58689.pn

[2017-11-17 02:42] Xunius opened #56 "How to protect the password in config file"
Hi,

Thanks for creating this great little tool.

I'm trying to figure out a way to encrypt the password info in `.snclirc` file.
I had some experiences in encrypting the password for *mutt* config so I tried doing the same by first creating a file containing:

[code]
Then encrpt it using gpg, giving an encrypted file `password.gpg`.

Then in `~/.snclirc`, I put

[code]

Running `sncli` gives this

[2017-11-17 07:14] swalladge commented on #56
Adding support for dynamically getting the password has been on my todo list for a while. I'd like to be able to eventually add a config line in the file similar to:

[code]

However, really in practice, if you don't trust your computer to store a password in plain text in your home folder, why would you trust it when you input your gpg key password, or trust it to secure the password in memory...

[2017-11-17 07:21] swalladge opened #57 "Logging should be configurable"
Currently logging is hardcoded at the DEBUG level. This should be configurable via the cli and/or config file. This would allow a clean log that only has errors for normal usage, and full debug logging when testing/developing.

Also related, we don't really want the auth token in the logs - this shows since it seems requests is logging all the network requests at DEBUG level (and the sn auth token

[2017-11-17 07:34] Xunius commented on #56
well, I think there is never any ultimate solution when security is concerned, you just stack layers of security measures to filter out (relatively) easy attacks. I'm no expert in these that's why I'm asking for help.

I did some simple modifications of the `config.py` file, basically I copied the `authentification()` function from the `simplenote.py` file into `config.py`, and add a while loop as

[2017-11-17 08:01] swalladge commented on #56
@Xunius I added this feature in commit https://github.com/insanum/sncli/commit/77d8568fb8faf4fd8d0d7edb50268df0ffda59d5 - please check it out and let me know if it fixes this issue. :smiley:

[2017-11-17 08:35] Xunius commented on #56
What a quick update!

I tried it, the 1st time I forgot to change the encrypted password file so the password was wrong, and sncli hangs without showing the message of "check the credential" or something.
After re-generating the .gpg file, it works great.

[2017-11-17 08:50] swalladge commented on #56
Great!

sncli should display the check credentials message... perhaps the network was slow for a while or something (it worked fine when I tested it with an eval command with the wrong password). The only time it might hang without a message could be if the eval command was slow.

[2017-11-17 08:50] #56 closed

[2017-12-13 15:54] thepith commented on #35
You can fix the error by using the developement version of urwid:
[code]
you might need to uninstall urwid beforehand.

[2017-12-13 16:10] NewMexicoKid commented on #35
Thanks--I'll give it a try.

On Wed, Dec 13, 2017 at 9:54 AM, thepith <notifications@github.com> wrote:

--
Tim Yao - the.NewMexicoKid@gmail.com <NewMexicoKid@naperwrimo.org>
<mliaisons@naperwrimo.org>
aka NewMexicoKid at National Novel Writing Month, http://nanowrimo.org
<http://www.nanowrimo.org>
co-Municipal Liaison for the Illinois::Naperville region
NaperWriMo - http://naperwrimo.org

[2018-01-02 13:38] woky opened #58 "crash on first startup when trying to take a note"
[code]

[2018-01-03 01:21] swalladge commented on #58
Thanks for reporting. I can reproduce the bug and am looking into fixing it.

By the way, is there a reason why it's failing to get the note list from the server? Did you have an internet connection at the time? I suspect there would be a few places it would crash if it fails in something when creating the database and syncing for the first time. (in fact, it would probably be better if it crashed

[2018-01-03 01:57] #58 closed

[2018-01-03 17:36] woky commented on #58
@swalladge Thanks for the fix. I was just trying it. I haven't set up any server connection so I suspect that was the cause. But the failure still seemed like a bad way to signal it to the user so I reported it.

[2018-01-08 09:38] trincadour opened #59 "Can't create new notes"
**Problem:**
I can't make new entries neither with `sncli create` or with the console GUI when pressing 'C'. In the GUI I get only a screen refresh when I try creating a note or even when I am trying to edit one.

Other functions like `sncli list`, `sncli sync` and `sncli export` are working fine, and I can see my notes as well.

**Environment:**
- Python 3.5.2
- Linux and Bash
- Urwid and Request

[2018-01-09 00:38] trincadour commented on #59
### Solved
I have just found what was wrong.
In the GUI case the problem was my `$EDITOR` variable, which I changed a few days ago to nothing (' ') and forgot to change back, so it was calling nothing and thus only refreshing the console. I specified it on the config file and now it's working normally.

As for the CLI command I simply was using it wrong, I didn't expect to use literally "-" as a c

[2018-01-09 00:43] #59 closed

[2018-01-09 06:11] swalladge commented on #59
@trincadour no inconvenience at all! Thanks for the heads up. 👍  I'll look into improving the readme/manual sometime.

[2018-03-28 20:36] twilbers opened #60 "HTML code show up for some symbols (e.g. ">" "&gt;)"
Sncli interprets the right tag sign ( ">")  as "&gt;" in documents created by the web browser version.

[2018-03-28 23:14] swalladge commented on #60
Oh now this is strange... it looks like the official web app is escaping html entities before saving now (so it's not sncli's fault by the looks of it). There may be a new metadata tag, because when syncing between sncli and the web it seems to then start escaping the `&` in `&gt;` and we end up with `&amp;gt;` ... etc. :scream:

Thanks for reporting!

Things that should be done:

- [ ] inspect th

[2018-07-29 23:07] arttobe opened #61 "sncli create - error"
When i try to create a note i get this error

Traceback (most recent call last):
  File "/home/moritz/.local/bin/sncli", line 11, in <module>
    sys.exit(main())
  File "/home/moritz/.local/lib/python3.6/site-packages/simplenote_cli/sncli.py", line 1379, in main
    sn.cli_note_create(False, title)
  File "/home/moritz/.local/lib/python3.6/site-packages/simplenote_cli/sncli.py", line 1113, in cli

[2018-08-08 18:07] arttobe commented on #61
Thank you for your answer
python3 --version
Python 3.6.6

i installed over pip3 install sncli
my system runs on fedora 28

[2018-08-09 00:42] swalladge commented on #61
@arttobe thanks. I believe I can reproduce the error. Working on a fix.

[2018-08-09 00:59] #61 closed

[2018-08-09 01:08] swalladge commented on #61
@arttobe I should be fixed now. Please install the latest git version:

[code]

And let us know if you see any other crashes. :)

[2018-08-12 12:42] nbenm opened #62 "Keyboard shortcuts help"
Very interesting. Nice job!
I need to use arrow up and arrow down to move up and down
As an old vi user, I've seen I cans use 'k' and 'j'. But how to use arrow keys.
I haven't found how to do that at http://urwid.org/manual/userinput.html#keyboard-input
Thanks

[2018-08-12 12:53] nbenm commented on #62
Sorry, found it:
kb_up = up
kb_down = down

[2018-08-12 12:53] #62 closed

[2018-08-13 19:59] TDHTTTT opened #63 "API down: 404 Not Found - Couldn't get the token?"
## Basically:

[code]
I guess it is more related to the API itself, not you. But maybe you know the answer since I couldn't find the official simple note API, apart from the outdated pdf: http://kendersec.github.io/SimpleNote/SimpleNote-API-v2.1.3.pdf

[2018-08-14 00:31] swalladge commented on #63
Thanks for reporting. It appears that the usual API endpoints are no longer functioning. Hopefully this is temporary!

Note: the api used by the third party simplenote apps doesn't seem very official any more, since the official api is through simperium. The only docs I could find was the pdf you have linked to as well.

[2018-08-14 04:35] TDHTTTT commented on #63
Thank you for replying!

[2018-08-15 03:25] qcu commented on #63
The API endpoints still appear to be down for me.

[code]

I use sncli (on linux) and nvALT (on mac) every day. Hope the simplenote third-party app APIs are

[2018-08-15 03:27] qcu commented on #63
The API endpoints still appear to be down for me.

[code]

I use sncli (on linux) and nvALT (on mac) multiple times per day. Thanks.

[2018-08-15 19:19] roundhill commented on #63
Hi! Would you be able to migrate to using the Simperium API for this project? The API this is currently using hasn't been supported for many years. We can provide an API key that will allow access to Simplenote.

[2018-08-15 19:59] roundhill commented on #63
Should be back up again, thanks for your patience. That said, we will be deprecating the old API in October so a migration to Simperium API is still needed here.

[2018-08-15 22:16] qcu opened #64 "Migration to Simperium API needed by October 2018"
The deprecated API issue (#63) is resolved, for now, so we should be able to sync again temporarily.

@roundhill said:

[Simperium HTTP - API reference](https://simperium.com/docs/reference/http/)

[Simperium Python - Getting Started](https://simperium.com/docs/python/)

[2018-08-15 23:35] swalladge commented on #63
Thanks @roundhill !

[2018-08-15 23:35] #63 closed

[2018-08-15 23:46] swalladge commented on #64
I'm currently in discussion with Automattic with the aim of obtaining an API key and find out anything else required to begin porting sncli to the new api.

[2018-08-15 23:49] swalladge opened #65 "Switch to pipenv"
I feel it would be useful to drop the requirements.txt and switch to using a Pipfile for a better developer experience. Thoughts?

[2018-08-19 05:49] nbenm commented on #39
I use proxychains (socks5), and it works fine.

[2018-08-19 06:13] nbenm commented on #65
For Debian users, this is not the best.
Btw, I had to install also distutils package.

[2018-08-19 17:50] qub1750ul commented on #63
Same here

[2018-08-19 17:54] synthetiv commented on #63
Yeah, unfortunately I've been getting similar errors as well. It worked for a day or two after the 15th, then stopped working again.

[2018-08-19 18:16] qub1750ul opened #66 "Log file path should be configurable"
If the path to the log file could be configurable, then sncli would not clutter up my $ HOME , it would be nice

[2018-08-19 18:25] roundhill commented on #63
An automated process reverted our fix 😬. Should be back up now, thanks again for your patience.

[2018-08-20 00:36] swalladge commented on #63
@qub1750ul @synthetiv also please see tracking issue #64 for future updates on the process of porting sncli to the new api. :)

[2018-08-20 00:41] swalladge commented on #64
Update: Simplenote has provided me with details required to use sncli with the new api. I'll begin working on porting sncli to Simperium within the next couple of weeks (as soon as I get some free time).

[2018-08-20 00:55] swalladge commented on #65
Maybe it's possible to support both in the project. I'll investigate. :)

[2018-09-04 07:17] swalladge commented on #64
Update: I have successfully ported the simperium python client to python 3. It can be found at https://github.com/swalladge/simperium-python3

I have done some tinkering with sncli to use the new library - auth is working fine, but getting the notes sync will be interesting due to changes to the note representation from the server. For example, we can no longer rely on `syncnum` (gone), `version`

[2018-09-04 07:39] swalladge commented on #64
Please see pull request. ^

[2018-09-11 07:06] nbenm commented on #64
Hi swalladge
I have installed successfuly  simperium-python (python2). Everything works fine.
I have tried to installed yours but install fails.
I explain:
- my default is python2. I dont't want to change this
- I have used sudo -H pip install git+https://github.com/swalladge/simperium-python3.git to install your python3 simperium (Simperium3)
- I have the error: Simperium3 requires Python '>=3' b

[2018-09-11 07:11] swalladge commented on #64
@nbenm sncli only supports python3, and therefore requires the python3 port of the simperium python client.

[2018-09-11 07:34] nbenm commented on #64
I Know.
Both (python2 and python3) are installed on my Mac.
I use Macports and youtube-dl package uses python3 with no problem.
For all other packages, and for my personal apps, I use python2.
What I would like to avoid is to have python3 *as default*
I want python2 remains my default.

For the moment, I can’t install Simperium3, it fails. It wants to use my default python2.

[2018-09-11 07:37] swalladge commented on #64
I don't understand. Did you try installing the simperium3 package either in a python3 virtual environment or with `pip3`?

[2018-09-11 07:59] nbenm commented on #64
Sorry, it’s my fault.
I was using pip which defaults to pip version 2.
Using « pip-3.7 » solved the problem.

I’ve tried successfully the Simperium3 example.
Only last instruction fails:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: ‘count'

But I have the same with Simperium version python2

I’ll try later today the new sncli. I’ll do a feedback.

[2018-09-11 13:59] nbenm commented on #64
This is my first try.
I have created a new Simplenote account.
I have then created notes from web and from sncli.
Common actions work well.

I have tried to import my 229 old notes to the new account
[code]
Only 166/229 have been imported.
There are many errors in sncli.log.
Here are some:
[code]
[code]
It looks like sncli make retries, and some seem to work.

By all my old notes haven't been impo

[2018-09-11 14:28] nbenm commented on #64
Here's an other issue:
If I delete a note via the web, and then sync with sncli, the note is not removed with sncli sync.
Nothing is logged for this action.
But trashing from sncli moves correctly the note to trash

[2018-09-11 23:54] swalladge commented on #64
@nbenm thanks for testing! Yes, I think I need to write up a new syncing algorithm for sncli - the old one isn't going to work with the new api.

[2018-09-12 01:50] swalladge commented on #64
I'm working on a new syncing algorithm now. Perhaps refrain from testing the `next` branch until I've got something somewhat working.

I would also stress that if you want to help test the new parts I'm working on, _please_ use at own risk. Either use an account that doesn't have anything important saved on it, or make a full backup of your notes first. I don't want anyone to lose any notes!

[2018-09-12 19:12] nbenm commented on #64
I understand. I’m using a new account for these tests.
Please let me know when I can do tests again.

[2018-09-13 00:55] swalladge commented on #64
@nbenm the latest commit I added makes it somewhat usable. Feel free to test. See the latest commit message for known issues. :)

PS: please continue conversation about the code/bugs/testing in the PR thread #67. That will leave this thread clear for general discussion. Also it will be easier to line up code/testing discussion with the progress on the code.

[2018-09-13 01:35] swalladge commented on #65
Pipenv is now supported in the `next` branch.

[2018-09-13 01:35] #65 closed

[2018-09-13 01:43] swalladge commented on #66
It appears the logfile is put under the db path. (`${cfg_db_path}/sncli.log`) How is this cluttering up your HOME directory? Perhaps there is some bug that results in files being written to incorrect locations - I would be interested to know the behaviour you are seeing.

[2018-09-13 06:31] swalladge opened #68 "Add note about how to view trashed notes."
Currently possible by searching for `tag:trash`. Should be more visible, or at least documented.

[2018-09-13 06:33] swalladge opened #69 "Add method to permanently delete notes."
The api in `simplenote_cli/simplenote.py` has a method to permanently remove a note, but is never used. We should provide a method with a new keybinding to permanently remove a note.

Currently, to permanently delete a note, one must use a different client.

[2018-09-15 06:43] swalladge opened #70 "Investigate tag creation"
If in sncli I add a new tag (ie doesn't exist), on the web I can see it on the note.

But it doesn't appear in the list of tags, when I click on "Tags".

[Edit]: it was the same on old version...

_Originally posted by @nbenm in https://github.com/insanum/sncli/pull/67#issuecomment-421534547_

[2018-09-23 23:37] #64 closed

[2018-10-05 19:35] citizenkepler opened #71 "Notes synced with Epoch time issues cause sncli to crash"
When performing my initial sync I got a year out of range message.  Thinking this was odd, I investigated:

citizen@genciti ~ $ sncli
sncli database doesn't exist, forcing full sync...
Starting full sync
Synced new note from server (key=beea78d7a10711e282fd8ddac0098ab0)
[omited output]
Synced new note from server (key=66334199707411e2ad87ab0bbc69d078)
Saved note to disk (key=beea78d7a10711e282fd8d

[2018-10-08 00:01] swalladge commented on #71
Thanks for the detailed report! I am curious though how the date could get so much out of range. I had hoped that this would be validated server-side.

I feel a bit conflicted about this - the question is now which invalid data cases should be rejected, silently sanitized, or cause a crash due to irrecoverable errors. I don't think the current note parsing is very robust in this way, relying on th

[2018-10-09 06:11] citizenkepler commented on #71
After filling this and identifying the field causing the issue, I manually re-created notes affected by this issue.  I think these notes were all created a few years ago by a bad android simple note client.

That said I am not sure how much of an edge case this is.  I am with you that it's weird that the server allows creation or modification dates in the future...

I would recommend if the modifi

[2018-10-10 01:21] swalladge commented on #71
Looking into making a fix for this now. It seems the new simplenote api does not allow pushing a note with modification date set far in the future, so this shouldn't be an issue from now. I like your idea for fixing the date if it is insanely in the future. :+1:

[2018-10-10 01:38] #71 closed

[2018-10-13 02:01] synthetiv commented on #60
Happy to say this doesn't seem to be happening anymore, now that sncli is using the new API.

[2018-10-13 06:49] swalladge commented on #60
Awesome! :smile: Thanks @synthetiv !  @twilbers can you confirm the latest version solves the problem for you?

[2018-10-17 07:37] jul-reb opened #72 "Saving files while in vim edit mode doesn't result in synch"
Notes are only synched upon exiting, rather than saving, this made for an awkward situation where I saved my note, expecting it to be synched, but upon power loss I lost all of my work since the files are stored in /tmp/ and this automatically empties itself on most distros.

[2018-10-17 08:54] swalladge commented on #72
Unfortunately this is unavoidable due to how different editors interact with the filename given. The only reliable way is to reread the file after the editor has exited.

If you want the temporary files stored somewhere on-disk to survive a reboot or power loss, you can set the `cfg_tempdir` option to a custom directory.

Perhaps it would be worthwhile documenting this behaviour with a warning as

[2018-10-21 23:19] 1094 opened #73 "KeyError: 'modificationDate'"
I just updated `sncli` and installed `Simperium3`, below is the error I get when I run the program.
[code]
From my `snclirc`:
[code]
I did a re-install using `yaourt` and I get the same error. I don't know what other information might be helpful.

[2018-10-26 01:13] 1094 commented on #73
I did a full system update, removed `~/.sncli`, and did a full snyc. I'm not sure which combination of three corrected the problem, but it did. `sncli` now loads properly.

[2018-10-26 01:13] #73 closed

[2018-10-26 02:50] swalladge commented on #73
Sorry for the delay in replying; this issue disappeared during the database issues Github was having. I'm glad you sorted it out. For reference, it would have been removing `~/.sncli` that solved it. The note schema has changed slightly so old notes in the local database can cause crashes. More info in the [release notes](https://github.com/insanum/sncli/releases/tag/0.3.0) for version 0.3.0.

[2018-11-06 20:09] ericbrandwein opened #74 "Better error message when .snclirc doesn't exist"
When running `sncli` for the first time, I got this error:
[code]

This happened because I didn't put a password in the configuration file.
Maybe using a better error message, like "Configuration file $HOME/.sncli does not have a password set", or maybe prompting for the password to put on the configuration file, would make for a better experience for the user.

[2018-11-06 20:23] nbenm commented on #74
+1

[2018-11-07 00:38] swalladge commented on #74
Thanks for the report! Looking into a solution now.

[2018-11-07 08:57] swalladge commented on #74
This is tricky, because config is loaded before logging is set up. Perhaps an absence of a config file, username, or password, should result in a `print(<error message>)` and `sys.exit`? Thoughts appreciated. :)

[2018-11-07 09:38] nbenm commented on #74
This is a good solution.
And as said @ericbrandwein, if password is missing, it would be nice to prompt for it.
It's not necessary to log anything.

[2018-11-07 23:31] swalladge commented on #74
WIP pull request opened for feedback: #75

[2018-11-12 23:48] #66 closed

[2018-11-14 12:12] swalladge commented on #72
I'd rather document the `cfg_tempdir` option in the readme than change the default. The default is the simplest option and most effective for most cases.

[2018-11-14 12:12] #72 closed

[2018-11-16 22:05] nbenm opened #76 "Error when reinstallin sncli (Simperium3)"
I'm reinstalling sncli after moving from Macports to homebrew (Mac).
But I have an error. urwid and requests are installed, but it can't find Simperium3

pip3 install sncli
Collecting sncli
  Downloading https://files.pythonhosted.org/packages/a6/9f/7c50287a0da780ab17aaad6f3e5b9a1723ebcb61cf58c00f1053cf21e7ef/sncli-0.3.0.tar.gz
Requirement already satisfied: urwid in /Library/Python/2.7/site-packa

[2018-11-16 22:13] nbenm commented on #76
Sorry, I have mixed python2 and python3.
It's solved now

[2018-11-16 22:13] #76 closed

[2018-11-29 22:25] ZaxonXP opened #77 "Got the installation error."
`sudo pip3 install sncli
Requirement already satisfied (use --upgrade to upgrade): sncli in /usr/local/lib/python3.4/dist-packages/sncli-0.3.0-py3.4.egg
Requirement already satisfied (use --upgrade to upgrade): urwid in /usr/local/lib/python3.4/dist-packages (from sncli)
Requirement already satisfied (use --upgrade to upgrade): requests in /usr/lib/python3/dist-packages (from sncli)
Downloading/un

[2018-11-29 23:49] swalladge commented on #77
Thanks for the report. This appears to be a bug in the setup.py for [simperium3](https://github.com/swalladge/simperium-python3).

[2018-11-30 00:00] swalladge commented on #77
@ZaxonXP can you let us know which version of python, pip, and setuptools you are using? It appears that for at least one of the issues above is caused by an old version of setuptools.

[2018-11-30 07:00] ZaxonXP commented on #77
Here are the versions:
`pip --version
pip 1.5.6 from /usr/lib/python3/dist-packages (python 3.4)
python --version
Python 2.7.9
pip show setuptools
---
Name: setuptools
Version: 5.5.1
Location: /usr/lib/python3/dist-packages
Requires:
`

[2018-11-30 07:03] swalladge commented on #77
That's strange... pip is reporting it's running on python3, but the default python is version 2... hmm.

I think the real problem is setuptools though. Version 5.5.1 was released in 2014. Are you able to upgrade that?

[2018-11-30 07:07] ZaxonXP commented on #77
When I use pip command to upgrade setuptools, then 5.5.1 is the latest available:

`sudo pip install setuptools --upgrade
[sudo] password for user:
Downloading/unpacking setuptools from https://files.pythonhosted.org/packages/e7/16/da8cb8046149d50940c6110310983abb359bbb8cbc3539e6bef95c29428a/setuptools-40.6.2-py2.py3-none-any.whl#sha256=88ee6bcd5decec9bd902252e02e641851d785c6e5e75677d2744a9d13fed0

[2018-11-30 07:12] swalladge commented on #77
Ah I see what is happening. You shouldn't use `sudo` with `pip install`. Rather use the OS package manager to install system wide packages or use `pip install --user ...` to install python packages locally for your user. Pip is refusing to upgrade setuptools because it recognizes that the OS owns the system-wide version.

You could try either using a virtual environment (`python -m venv venvname &

[2018-11-30 08:41] ZaxonXP commented on #77
`pip install --user --upgrade setuptools
Downloading/unpacking setuptools from https://files.pythonhosted.org/packages/e7/16/da8cb8046149d50940c6110310983abb359bbb8cbc3539e6bef95c29428a/setuptools-40.6.2-py2.py3-none-any.whl#sha256=88ee6bcd5decec9bd902252e02e641851d785c6e5e75677d2744a9d13fed0b0a
  Downloading setuptools-40.6.2-py2.py3-none-any.whl (573kB): 573kB downloaded
Installing collected pac

[2018-11-30 08:57] swalladge commented on #77
Not sure sorry. Could you try installing in a virtual environment? The following commands should do it:

[code]

[2018-11-30 09:00] ZaxonXP commented on #77
python3.4 -m venv TMPVENV
Error: Command '['/home/user/zzz/sncli/TMPVENV/bin/python3.4', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1

[2018-11-30 09:35] swalladge commented on #77
:cry: I have no ideas what's going on there sorry... You may have to try a different way of obtaining a virtualenv.

[2018-11-30 10:46] ZaxonXP commented on #77
OK. I managed somehow to install it on one machine with Debian Stretch. Now I have one more reason to upgrade my other machine from Jessie to Stretch. :)

Thanks for helping!

[2018-11-30 10:54] swalladge commented on #77
No worries. Sorry it didn't work for you on your Jessie machine.

[2018-11-30 10:54] #77 closed

[2018-12-04 12:19] ZaxonXP opened #78 "Cursor not displayed when using VIM as editor."
When I open sncli in uxterm I have a nice colors of the notes. However when I start editing the note in my VIM editor, then I do not see the cursor, so it is hard to edit.

If I close sncli and open VIM in the same terminal I can see the cursor. Is this sncli issue or do I need to change something somewhere else?

I tried with nano and xfce4-terminal I had the same issue.

[2018-12-04 12:35] ZaxonXP commented on #78
@nbenm If I hit `e` on any note in order to edit it my editor will load (vim) but the cursor is hidden, so it is hard to edit anything without seeing the cursor.

[2018-12-04 12:36] swalladge commented on #78
@ZaxonXP which version of `urwid` do you have installed? Apparently older versions are known to have that behaviour.

[2018-12-04 12:38] ZaxonXP commented on #78
[code]

[2018-12-04 12:40] swalladge commented on #78
Hmm that's the latest version. Not sure what is going on. :/

[2018-12-04 12:40] ZaxonXP commented on #78
Is there any other action I can do to help to debug it?

[2018-12-04 12:48] nbenm commented on #78
I don't have this issue on Mac.
I have tried uxterm with XQuartz, and OsX Terminal app
In both cases I can see the cursor in edit mode.
I use urwid 2.0.1 too.

[2018-12-04 12:56] ZaxonXP commented on #78
For the time being is there a way to use GUI editor somehow?

Currently if I set up `EDITOR=gvim` and edit a note then editors open with an empty temp file and sncli goes back to displaying the list of notes.

[2018-12-04 13:01] nbenm commented on #78
@ZaxonXP if you have a .vimrc file, you can try to rename it and try again

[2018-12-04 13:08] ZaxonXP commented on #78
Renamed .vimrc file, but this did not change anything. :(

[2018-12-04 13:11] nbenm commented on #78
Yes, I didn't see that you have the same issue with nano...
I'll try on a debian unstable tomorrow and tell you how it works.

[2018-12-05 03:52] swalladge commented on #78
Yes sncli isn't compatible with editors that fork. You can use gvim if you pass the `-f` flag (stay in foreground):

[code]

[2018-12-05 19:33] ZaxonXP commented on #78
But I do not want to use unstable version.  :(

[2019-02-13 10:42] louwers opened #79 "Open markdown notes with markdown extension"
I'd like to suggest that markdown notes are opened with a markdown extension. This way the text editor can enable markdown-specific features such as syntax highlighting.

So instead of opening e.g. `/tmp/tmpxbdsaull.txt` it would open `/tmp/tmpxbdsaull.md`.

Seems like a reasonable change to me!

[2019-02-13 10:48] swalladge commented on #79
sncli already does this as far as I know. For any notes saved as markdown, sncli will open it with a `.mkd` extension.

[2019-02-17 18:26] louwers commented on #79
My bad! I was opening a non-markdown note. :man_facepalming:

[2019-02-17 18:26] #79 closed

[2019-02-24 23:19] 0000marcell opened #80 "Stop responding for a moment"
App stop responding for a moment after any edit
The problem is related with syncing, when i disable automatic sync it works fine
I love to solve the problem if someone could point me to the right direction

I'm on:
OS: Arch Linux x86_64
Python 3.7.1

[2019-03-02 05:53] sjclayton opened #81 "Add LICENSE"
I know because of inspection that this is licensed under the MIT license, would be nice to have it more openly visible though! :grin:

[2019-03-02 06:08] #81 closed

[2019-03-02 06:08] swalladge commented on #81
Nice catch, thanks for the suggestion! :)

[2019-03-11 14:50] qcu opened #82 "New note lost after creation due to connection problem"
After creating a new note, there was apparently an internet connection issue and the note was never saved, locally or remote. Complete data loss.

Perhaps, we need to visit the local temporary persistence (store and forward) mechanism, in order to further reduce data loss in the event of a network disconnection?

[2019-03-26 13:42] qcu commented on #80
Connected fine yesterday, 3/25, last log entries... (Aside: very chatty, is this wss, over https?)
[code]

Laptop resumed today, 3/26, the sncli app is responding, opened a note to edit...
[code]

After saving the updated note...
[code]

That is all, the app simply stops responding.

Meanwhile, I have taken to manually writing to a local tmp file anytime I use sncli. This issue and #82 might be re

[2019-03-26 16:27] 0000marcell commented on #80
@qcu awesome work, i hope you find the cause of the problem

[2019-03-28 06:26] swalladge commented on #80
No - there are just many requests used during syncing...

---

Sorry I don't have much time to investigate these issues at the moment. There is a configuration option (`cfg_tempdir`) that you can set to somewhere persistent that may be helpful in preventing data loss. I'm not sure if or when sncli deletes the temporary file after saving though.

The freezing is almost definitely because of syncing

[2019-04-28 18:49] 1094 commented on #34
My question is related to this and not actually an "issue" so I didn't want to open a new one: Is there a help file or something that lists all the different configurable items (like sorting) and their options (alpha, date, etc)?

[2019-04-29 00:00] swalladge commented on #34
@1094 unfortunately not sorry. The best place to start looking at this time is https://github.com/insanum/sncli/blob/master/simplenote_cli/config.py

Something that would be nice to have in the future is some actual documentation. A fork of this project made for nextcloud notes, nncli, has nice documentation which could be copied/adapted for sncli. See https://nncli.org/ and https://git.danielmoch

[2019-04-29 00:05] swalladge opened #84 "Create documentation"
Currently the only documentation available is the readme file and an in-app listing of keybinds. It would be useful to develop more extensive documentation. It would also help reduce the length of the readme.

A fork of this project made for nextcloud notes, nncli, has nice documentation which could be copied/adapted for sncli. See https://nncli.org/ and https://git.danielmoch.com/nncli/

Ideas:

[2019-04-30 10:23] 1094 commented on #34
Most of the `config.py` shows up in the help menu. Which is helpful to a point. After reading this thread, I took a look at the `utils.py` but with my limited (aka almost nil) knowledge of `python` that wasn't very useful.

I'll take a look `nncli` and see what I can gleam from that. Thanks.

[2019-04-30 10:31] swalladge commented on #34
@1094 which ones in particular are you looking for. I can perhaps help decipher the source code.

If it's the sorting mode, the relevant code is in https://github.com/insanum/sncli/blob/master/simplenote_cli/notes_db.py#L76 . Basically the options are "alpha", "date", and "tags"

[2019-04-30 10:50] 1094 commented on #34
Actually, I started my search because I wanted to sort notes in alphabetical order. Finding this thread just made me realize a) I have no idea what "alpha" means and that b) there are a number of setting and options for a program I use (multiple times *every*day) and I have no idea what they are. These ideas got my curiosity going.

[2019-04-30 13:02] 1094 commented on #34
I can't edit my note (at work at using EI) but I just realized I mistyped that. I do know what "alpha" means. I just didn't realize `sncli` had the sort option.

[2019-04-30 15:00] 1094 commented on #84
I would love to help out with this and I have a working knowledge of reStructuredText.

I can start a document from what [nncli's configuration list](https://nncli.org/configuration.html#) has and add the readme and wiki information.

[2019-04-30 23:13] swalladge commented on #84
Sounds awesome! Please do and create a pull request for it! :D

[2019-05-04 01:18] 1094 commented on #84
This branch isn't ready for a pull request. I was hoping you could take a look at it and let me know if this is the direction you were hoping to go.

[2019-05-04 01:24] swalladge commented on #84
Please open a pull request and tag it [WIP]. Easier to have a discussion and comment on code there. Thanks. :)

[2019-05-09 02:56] swalladge commented on #84
Added in #85

[2019-05-09 02:56] #84 closed

[2019-05-09 02:57] swalladge commented on #74
This can be marked as solved now that the above PR is merged

[2019-05-09 02:57] #74 closed

[2019-05-09 02:58] #36 closed

[2019-05-13 01:58] swalladge opened #86 "Add detailed configuration info to docs"
Currently we have an example configuration file, which is great, but it would be nice to format that into the docs so a canonical list of configuration items is more readable. Could be similar in style to https://nncli.org/configuration.html

An example configuration file can then be shorter, more like the one in the readme currently.

[2019-05-13 01:59] swalladge commented on #35
I'm going to close this now since it appears to have been an issue in an older version of urwid.

[2019-05-13 01:59] #35 closed

[2019-05-23 07:02] matteocrippa opened #87 "App don't reconnect to internet"
I'm facing this issue, once the device go suspend and later I wake it up, or if the wifi goes down and then up (so internet is back working) sncli stays disconnected.

![2019-05-23-085858_928x14_scrot](https://user-images.githubusercontent.com/475463/58232253-61dd1f00-7d39-11e9-8b78-5c96738457d5.png)

Even forcing sync with `S` doesn't help

![2019-05-23-085909_931x85_scrot](https://user-images.gi

[2019-05-23 23:44] swalladge commented on #87
Hmm I'll look into it, thanks for the report. I'm surprised this would happen because afaik there aren't any long running connections.

[2019-05-23 23:49] swalladge commented on #87
I can't reproduce the issue on my machine with the latest revision of sncli. Could you let us know which version of sncli you are running, the versions of the dependencies (especially simperium-python). If you're running in a virtual env, an easy way to find this is with `pip freeze`.

Also would be interested in seeing the full log, annotated with when the internet connection changes state.

[2019-05-24 12:22] matteocrippa commented on #87
I was using the AUR package `https://aur.archlinux.org/packages/sncli-git`
But I noticed that `requests` with pip was not latest, tried for now to upgrade that and now monitoring that.

Here's the new pip freeze:
[freeze.log](https://github.com/insanum/sncli/files/3216821/freeze.log)

[2019-05-24 17:21] matteocrippa commented on #87
Just experimented again the same issue, here a quick snapshot of the log

![2019-05-24-191737_937x996_scrot](https://user-images.githubusercontent.com/475463/58345457-b3c89680-7e58-11e9-9e61-74f8c091b704.png)

If I run in terminal `sncli` and open a new instance I see that is perfectly connected.

Was wondering if not worth to add an extra key to force reconnect manually in this scenario.

ps. reo

[2019-05-24 23:12] swalladge commented on #87
sncli doesn't keep any long running connections. Any action does a plain `requests.post` or `requests.get`. That's why I can't understand why this is happening.

[2019-07-13 17:44] Haikyy commented on #78
I'm on a stable Ubuntu, when I hit space for editing, the red highlight disappears to enter in editor mode but the cursor is not appearing because it is not entered in vim edition mode, every key as q for quit or j and k to move up/down are still actives

[2019-07-14 23:38] swalladge commented on #78
@Haikyy What terminal emulator are you using? Also can you post the output of `echo $TERM`?

[2019-07-15 07:17] ZaxonXP commented on #78
@swalladge: In my case `echo $TERM` shows `xterm-color` and in all terminals I use (xterm, uxterm, xfce4-terminal) cursor is not visible when I edit (Debian 9.9 x64).

[2019-07-15 09:28] nbenm commented on #78
@ZaxonXP Debian 10 has been released. Maybe you can upgrade and try again.

[2019-07-15 10:13] Haikyy commented on #78
@swalladge it's the default gnome terminal on Ubuntu 18.04. echo $TERM-> xterm-256color

[2019-07-17 12:41] volt4ire opened #88 "Editing note directly from shell"
Is there a way to open a note based on its title directly from the shell (ie: without opening sncli first)? Based on the docs it seems like you can open/edit a note directly by specifying its key with the -k option, but I don't know how to find or associate a key with a note. For example, I want to edit a simplenote note called "today" via sncli directly from bash, but running
`$sncli -k today`
re

[2019-07-17 14:20] nbenm commented on #88
It's possible, but you must know the key.
The key is the name of the json file without the extension.
All notes are stored as individual file named xxxxx.json. xxxxx is the key.
These files are stored in the "cfg_db_path" directory.

[2019-07-17 14:29] nbenm commented on #88
To find the key, you can run sncli, then select the note you want, and type 'O' to show the note raw json. The key is displayed there.

[2019-07-17 19:02] ZaxonXP commented on #78
@nbenm : I just upgraded to Debian 10 and indeed it is working correctly (cursor is visible in vim). :)

[2019-07-17 22:56] swalladge commented on #88
Thanks @nbenm. To add to this, there is a PR open (https://github.com/insanum/sncli/pull/49) to enable acting on a note based on its title, but it needs some work before it can be merged.

[2019-07-19 21:35] sobjornstad commented on #82
Just want to say I've experienced similar issues where sncli locks up when I save and exit my editor, and the content is lost. I've had to start writing out a backup copy before leaving my editor if I've made major changes. I would like to see sncli place the temporary file in a location where it will be saved if anything untoward happens.

[2019-07-20 00:00] swalladge commented on #82
@sobjornstad

The temporary file location is customizable with the [cfg_tempdir](https://github.com/insanum/sncli#editing-notes) option, so you can set it to a persistent location if you like. By default it is `/tmp/`, so if sncli has crashed, you can still recover the note (unless the OS has rebooted).

[2019-07-20 00:02] swalladge commented on #82
...although it probably would be good to investigate when these tempfiles are deleted by sncli - it would be good to have them around for longer.

[2019-07-20 13:42] sobjornstad commented on #82
Hmm, I seem to remember looking for it in `/tmp` and not finding it, but the last time I tried was a while ago. I'll take a closer look if it happens again.

[2019-07-22 00:36] swalladge commented on #82
I'm treating this as a high priority bug now. Data loss is no joke and this has affected enough people now. Obviously it is possible for the temporary file to be removed before a note is successfully saved in sncli's database or synced. I'll aim to look into it when I have time this week. If anyone else can see where the issues are and would like to open a WIP pull request or comment here, that wo

[2019-07-23 06:39] #31 closed

[2019-07-23 06:46] swalladge commented on #39
@hatelove85911 We can't implement this as a configuration variable in sncli now, since we're using the simperium library for syncing. However this uses requests, and according to the [requests docs](https://2.python-requests.org//en/master/user/advanced/#proxies):

You should be able to test and use this like:

[code]

Put it in a shell script, or alias, or set the env var system-wide to use it au

[2019-07-23 06:46] #39 closed

[2019-07-24 02:59] qcu commented on #82
Thanks. Running the branch PR #90 locally now, and already appreciating the increased reliability.

[2019-07-24 23:17] swalladge opened #91 "Clean up tempfiles"
Tempfile cleanup has been disabled since it was being done before a note was successfully saved or synced. This issue is to track re-adding tempfile cleanup. It should be implemented such that tempfiles are only cleaned up after all notes have been saved (and synced if sync enabled).

[2019-09-06 20:14] pomdtr opened #92 "Add option to use markdown as default syntax"
Currently, the `C` command always create an .txt file. It would be usefull to be able to default to markdown .mkd extension instead

[2019-09-08 23:48] swalladge commented on #92
I like this idea! Potentially a new configuration option could be added, like `cfg_default_note_ext`. I wonder if something like this exists already. I'll look into it soon. :+1:

[2019-09-12 04:43] swalladge commented on #92
@pomdtr Please test PR #93 which implements this. :)

[2019-09-12 10:49] pomdtr opened #94 "Add keybinding to clear search to the :h command"
No keybinding is shown in help to clear a search.

Currently i use `meta /` and search for the `.` character in order to show the default list, but it feels like a hack.

Does this keybinding already exists ?

[2019-09-12 12:37] #94 closed, assigned to nobody

[2019-09-16 22:13] drselump14 opened #95 "separate sync worker"
Hello, thank you for making one of superb cli tools.
However, the syncing process is very slow and sometimes stopping my workflow.
I think it's better to separate the sync in different process so it won't block the workflow.

How do you think?

[2019-09-16 23:20] swalladge commented on #95
@drselump14 This would be great, though I would imagine would involve a lot of work. Thanks for the suggestion! :smile: I won't have time to look into something like this for a while though. To anyone reading this, if you have a proposal for how this could be done without causing data races or totally changing the architecture of the app, we'd love to hear it. :smile:

[2020-02-17 15:11] yusufaktepe opened #97 "Support environment variables in config"
It would be great if we can use environment variables or tilde~ for setting the paths in configuration. Thanks.

[2020-03-09 12:23] #97 closed

[2020-04-03 15:20] fazlerabbi37 opened #98 "[FR] allow publishing in Listed"
I just found this project from one of the issues in the [sn-cli](https://github.com/jonhadfield/sn-cli) project. I was looking into it to request the same feature. See [sn-cli issue 15](https://github.com/jonhadfield/sn-cli/issues/15). I just tried the `create` and `list` commands from `sncli` and it works great for me.

However, I was looking into Standard Notes because with [Listed.to](https://l

[2020-04-03 21:59] swalladge commented on #98
Hi @fazlerabbi37,   Listed.to appears to be a service that integrates with https://standardnotes.org/. This notes app is a client for https://simplenote.com/, so publishing to Listed is not something we could support.

[2020-04-03 23:13] fazlerabbi37 commented on #98
that is true. Listed.to is a service that is integrates with Standard Notes and interacts with Standard Notes via extension.

To use this tool to publish to Listed.to anonymously, we would need 2 functions:
- using the tool without sign in so that people can use it locally without syncing
- integration of extension

What I would like to know if you are planning to support this. If not would you mi

[2020-04-03 23:50] swalladge commented on #98
@fazlerabbi37 I'm still not sure exactly what you are asking? Are you wanting a feature on sncli that allows pushing a note to listed.to? How does this relate to being anonymous?

You already can with sncli - if you don't set a username or password, it will still work fine as an offline notes app.

Please do. I currently don't have much time for development here. I would be happy to give guidance

[2020-04-04 00:20] fazlerabbi37 commented on #98
Yes, I precisely want a feature where I can push to Listed.to using this CLI tool. This relates to being anonymous because I did not know that we can use `sncli` can be used without sign in and that defeats the purpose of anonymity.

I did not know this so thanks for this!

I will try to do a PoC once I get a chance to get a look at the current code I guess. Also I need to understand how the exten

[2020-04-04 01:33] swalladge commented on #98
Ok, cool. In that case, yes that's a feature that could be useful if it could be implemented in a way that is off by default, doesn't cause much extra maintenance, and doesn't affect existing functionality when it's turned on.

Definitely. I'm not sure if Listed.to is open source, or its terms and conditions, so it may be worth finding a contact for that, or contacting the maintainers of standardn

[2020-04-04 01:49] fazlerabbi37 commented on #98
It is open source. source code for server: https://github.com/standardnotes/listed

[2020-05-17 09:14] drewauff opened #99 "Crash on launch"
MacOS Catalina
iTerm2

error is as follows :

[code]

[2020-05-17 22:59] swalladge commented on #99
@drewauff  Thanks for reporting. Would you mind sharing the debug log from when this happens (obviously, redact anything personal/private from it)? Default location is `~/.sncli/sncli.log`.

[2020-08-24 11:16] ThisSentenceIsFalse commented on #99
I'm inclined to make a few observations:

- a crash like this could occur if the note cache were inadvertenetly or maliciously manipulated outside the app;
- I haven't checked what happens in raw edit mode, but you would probably want to sync the changes to disk - so I fear the issue has the potential to appear there as well if "modificationDate" were deleted;
- the [NotesDB constructor](https://g

[2020-08-24 23:59] swalladge commented on #99
@ThisSentenceIsFalse to be honest, I think if the notes cache (really the notes database; sncli can work without a simplenote server) are edited by anything other than the app's internal operations, then crashing is ok.  Raw editing notes is only supposed to be for an escape hatch if one really wishes to do something advanced that the app doesn't support.  As with any app, if you mess with the dat

[2020-09-14 15:52] chkiss opened #101 "sncli constantly crashing, (offline, connection error) after editing notes"
I just started using sncli last week and I love it. That said, in just a few days I have lost notes, learned how to recover them from the /tmp/ directory, and learned how to set the /tmp/ directory not to delete on reboot due to more lost notes, etc. My biggest problem is that the client seems to go offline all the time and is often unresponsive (freezes after editing a note, sometimes never recov

[2020-09-15 12:58] swalladge commented on #101
@chkiss sorry you're having this problem.  I can't think of why - perhaps the connection to the simplenote api is just very slow?  Nothing is async, so if it's always waiting for api requests to update notes, it could cause it to be unresponsive.

This looks pretty normal; just polling for notes updates; one failed.  Perhaps the application is getting rate limited maybe. hmmm.

Sorry I can't help

[2020-09-15 13:34] chkiss commented on #101
Thank you for checking out the log.

I'll try to keep working on reproducibility as it could just be something
with my workflow.

On Tue, Sep 15, 2020, 08:59 Samuel Walladge <notifications@github.com>
wrote:

[2020-09-20 00:58] chkiss commented on #101
I have noticed that sncli says it's online when I get back to it after my computer was asleep for an extended period, and if I go into a note it will let me edit it like normal. But if I hit j/k and refresh the display, it updates to "offline, connection error." Either way, note edits are at risk of being lost without a sync (but can be recovered from /tmp/).

I'm also thinking this is the same is

[2020-11-30 00:08] drewauff commented on #99
I tried deleting..well I renamed the .sncli DIR and now getting this error

2020-11-30 11:04:48,428 [DEBUG] sncli logging initialized
2020-11-30 11:04:48,464 [DEBUG] Starting new HTTPS connection (1): auth.simperium.com:443
2020-11-30 11:04:49,120 [DEBUG] https://auth.simperium.com:443 "POST /1/chalk-bump-f49/authorize/ HTTP/1.1" 401 None
2020-11-30 11:04:49,123 [DEBUG] Auth error: 401 Client Erro

[2020-11-30 00:13] swalladge commented on #99
@drewauff that looks like your user credentials are incorrect.  Could you verify and recheck?

[2020-11-30 00:23] drewauff commented on #99
OMG Works now, don't know what was tripping it previously, that's why i decided to uninstall and rename the .sncli dir.

Awesome, thank you for all your help..just noticed your a fellow Aussie lol, explains the quick response.

Thanks again and good to see this isn't dead.

[2020-11-30 00:28] swalladge commented on #99
@drewauff :+1: :+1:

[2020-11-30 00:28] swalladge commented on #99
I'll close this since the issue has resolved itself. Feel free to reopen or open a new issue if it comes back, and we can investigate it further. :)

[2020-11-30 00:28] #99 closed

[2020-11-30 01:48] drewauff commented on #99
you before you go, cant get the create to title function to work?

[2020-12-11 05:29] drewauff opened #102 "Opening note from command line is painfully slow"
sncli opens perfectly ok (a little slow if im honest but acceptable), however opening a note it is painfully slow at
around 5-7 seconds.

[2020-12-11 05:35] swalladge commented on #102
Sorry to hear, that must be annoying.  Could you share the logs, and the command/process you're using to open a note (ie. exactly what are you doing, so that we can reproduce it)?

[2020-12-11 05:41] drewauff commented on #102
the command Im using is : `sncli --key=THEKEYGOESINHERERECATEDFORPRIVACY edit'`

as for the logs, where is it?

[2020-12-12 00:21] swalladge commented on #102
@drewauff thanks. :)

So I don't see anything unusual in the logs, but I suspect it's the syncing process that happens by default before opening the note that slows things down. Could you try disabling sync in the edit command and let us know if that speeds it up?: `sncli --key=THEKEYGOESINHEREREDACTEDFORPRIVACY --nosync edit`

[2020-12-12 02:43] drewauff commented on #102
yeah, that makes quite an improvement. brings it almost on par with main sncli. Thanks 👍🏽

[2020-12-13 23:06] swalladge commented on #102
Great!  Just be aware that this means the note you're editing may not be the latest version, and I don't think it will sync after closing either.  You may want to automatically periodically run `sncli sync` (or something else; I don't know your workflow) to ensure that notes are always up to date.

[2020-12-13 23:06] #102 closed

[2020-12-14 23:25] drewauff commented on #102
I was thinking to to setup a cron job for sync, would this do the trick?

[2020-12-14 23:33] swalladge commented on #102
@drewauff yep that would work. :+1:

[2020-12-16 03:06] drewauff commented on #95
maybe setup a cron job for sync and use the `--nosync` switch to launch, I set mine for syncing every 5 mins..a bit overkill but it gets the job done.

[2020-12-19 03:43] drewauff commented on #88
Awesome, didn't know that one, thanks.. any way I can view in my default editor?

[2020-12-19 03:53] swalladge commented on #88
@drewauff

Yep, you can set the `cfg_pager` option. It defaults to `$PAGER` if set, or `less`.

[2020-12-21 01:57] drewauff commented on #88
Yep, that did it, Thank You 👍🏽

[2020-12-24 17:39] Lynxiayel opened #103 "Add config option to choose tmp file extension type?"
Hi,
The current tmp file for a markdown note is named as *.mkd.
As I edit it in a vim environment, I regularly need to reformat it with some vim plugins. Unfortunately the .mkd extension name is not recognized.
I am wondering if we can have an option for choosing what extension name we use for the tmp files? Thanks.

[2020-12-26 00:12] swalladge commented on #103
@Lynxiayel I'm not sure the history behind using mkd as the file extension, but I agree that `md` would be more standard.  I don't think we'd want to update the default though, since this may break the workflow of others.

This may be a good idea.  You mean so you can set something like `cfg_markdown_file_ext = "md"`?

Another option that may work for you without patching sncli, would be to add an

[2020-12-28 04:54] Lynxiayel commented on #103
@swalladge Thanks for the reply, also the vim workaround is helpful. From a flexibility perspective, I think adding a config option would still be a nice enhancement (if it's not too much change to the codebase), because I think there are other ext names like "markdown

[2020-12-28 04:54] #103 closed

[2021-01-12 20:43] chkiss commented on #101
I still have this issue when I leave sncli open but put my laptop to sleep and wake it back up. To avoid data loss, I've now switched my workflow to just use sncli on an eternal terminal (basically ssh) session to a VPS. I'll close this ticket as I'm no longer affected by it and 87 is an older, still-open issue.

Thanks!

[2021-01-12 20:43] #101 closed

[2021-02-06 17:15] sshaikh opened #104 "Opening sncli pushes last seen version of note"
This may be user error but:

1) Open sncli, edit or make a note (v2) and close by pressing qq.
2) Open SN elsewhere (say mobile), make changes to note (v3). Verify this is seen on third client (eg PC).
3) Open sncli. This pushes v2 back up, overwriting v3 (or the latest note if others have been made) with a version of v2 (although it may actually be a new version that looks like v1)

Interestingly

[2021-05-09 15:07] pataquets opened #107 "Create an official, Automated Build image on Docker Hub"
Docker Hub allows you to create Automated Builds from source: https://docs.docker.com/docker-hub/builds/
It would add another packaging/distribution/installation method, whose buildings would be triggered automatically on each commit. It also allows to create different image tags from git tags & branches.
Also, documentation could easily include a canonical `docker run` statement referencing the p

[2021-05-16 12:47] jun6lee opened #108 "Enhancement Request: Alfred Workflow"
I think this may be perfect to port to work as an alfred workflow to search your notes.

It's suggested here:
https://www.alfredforum.com/topic/15914-script-filter-help-searching-simplenote-via-cli/

[2021-07-05 12:04] giuli007 opened #109 "Login issues"
Since last Sunday sncli is failing to login (tried with a couple of different accounts I have) showing this message
`Simplenote (offline: login failed; check username and password)`

An excerpt from the logs
[code]

Examining the response (`r.text`) from https://github.com/swalladge/simperium-python3/blob/master/simperium/core.py#L48 shows `missing api key`

That makes me think that maybe the toke

[2021-07-05 18:09] giuli007 commented on #109
Found the issue and opened https://github.com/swalladge/simperium-python3/pull/1 on the library with a fix

[2021-07-05 20:39] giuli007 commented on #109
In the meantime, until the above fix gets merged and new versions of simperium-python3 and sncli get released, people could try the following to run sncli together with the proposed fix (as long as they are ok to run it from the repo).
Beware that this requires having `pipenv` installed somewhere (ideally in a virtualenv); and then let pipenv create a different virtualenv where to install sncli.
T

[2021-07-05 22:25] swalladge commented on #109
Thanks @giuli007 !  I'll review https://github.com/swalladge/simperium-python3/pull/1 asap and get a new sncli release sorted. :+1:

[2021-07-05 22:41] swalladge commented on #109
@giuli007 I tested logging in with sncli with the current release of simperium-python3, and your branch.  Both work equally well. :thinking:

Could you and @noooxxi check if the issue has been resolved for you?  Perhaps it was a temporary issue on simplenote's side.

[2021-07-05 23:00] giuli007 commented on #109
Hi @swalladge I just tried again and I am still seeing the issue.

[2021-07-06 12:43] noooxxi commented on #109
Yes, @swalladge, I updated my system and even reinstalled sncli. The problem remains. :cry:

[2021-07-06 23:02] swalladge commented on #109
Thanks @giuli007 @noooxxi :)

[2021-07-07 04:16] fredbsc commented on #109
Same issue here ... Thanks for any help!

[2021-07-07 04:44] swalladge commented on #109
@fredbsc yep we're working on it.  Expect a new release within the next day or so with a fix. :D

[2021-07-08 00:00] swalladge commented on #109
@fredbsc @noooxxi @giuli007 a new release for the [Simperium3](https://pypi.org/project/Simperium3/0.1.4/) dependency has been pushed, which includes @giuli007's fix.  If you installed via pip or from source, please reinstall or update your dependencies to get the latest version. :)

[2021-07-08 00:04] #109 closed

[2021-07-08 15:06] noooxxi commented on #109
Thank you! Everything seems to be working again now ☺️

[2021-07-14 05:36] drewauff opened #110 "Simplenotes fzf integration"
I am trying to use fzf to bring up a list of preselected notes,  (using there keys of course).

I can bring up the list of predetermined name but cannot associate nor select the note via its key which is the important part.

How can I accomplish this?

[2021-07-14 06:16] swalladge commented on #110
@drewauff you can use `sncli -k <key>` to select a note given it's key.  Does this help?

[2021-07-14 06:43] drewauff commented on #110
not really, my original plan was to use an array..easier said then done. Not only do I need a name for the note but I also need the corresponding key.

As for the command you suggested, I set up an alias for each note/key, would be much easier to select it from a list.

This is how it would work:
1) Hit shortcut key in terminal (in my case iTerm2) ie. ctrl-s
2) select from list to edit.

And thats

[2021-07-14 06:55] swalladge commented on #110
@drewauff maybe some combination of `sncli list` and `sncli -k`?  Example:

[code]

Note that all the notes are stored as json files in the `cfg_db_path` directory (`~/.sncli/` by default), so you could potentially write a script to process those files directly if you want a fancy output for fzf, and then pass the id to `sncli -k`.

[2021-07-15 03:21] drewauff commented on #110
That command gives "ERROR: check log for sync errors." error.

It does, however have pontential.

Also in the json files the content of the notes are dumped in a single line..

[2021-07-26 07:39] drewauff commented on #110
Why did you have to make it so edit has to go at the end? makes using sncli outside of the client itself almost impossible. makes no sense.

Trying to parse xargs -I  % --key= % impossible because I cant parse "edit" after the key.

I have tried everything I can think of but nothing works.

This is more less what I want to use, this brings up the list of "keys" but only displays the title of the n

[2021-08-10 18:44] N0ury commented on #41
Hello, I reopen this issue.
I have tried this today. It works fine with a file created with VI but not with a sncli note.

Here's the content of the json file I've used:
[code]
It is displayed as ordinary text.
Am I doing something wrong?
When I say it works with a file, I mean there is only the `content` part, and `\n` is replaced with a real linefeed.

[2021-08-10 21:13] N0ury commented on #41
I have found.
I had forgotten thi:
[code]

It's all ok now!

[2021-08-13 07:16] N0ury opened #111 "How to empty trash?"
Hello this is not an issue, just a question.
How to empty trash?

[2021-08-15 08:41] N0ury commented on #111
In simplenote_cli/simplenote.py I have seen the method delete_note but it doesn't seem to be used.

Currently, when I need to empty trash I do it using Simplenote app.

[2021-08-16 01:07] swalladge commented on #111
@N0ury hmm you're right, I can't find a way to permanently delete a note from sncli.  Strange that `delete_note` exists but isn't used; maybe something was refactored out...

It's not documented as far as I can find, but you can show all notes in the trash by running a gstyle search for `tag:trash`.  There is also a keybinding and command line subcommand for moving in and out of the trash.  But no

[2021-08-29 06:34] drewauff opened #113 "sncli colors not working correctly"
Decided I want to change the colours to a monochrome style. Does not working. There is  not a single colour in my .snclirc, only white, grey a black.

sncli insists on using the default colors.

[2021-08-29 23:25] swalladge commented on #113
@drewauff sncli uses urwid - see http://urwid.org/reference/constants.html#standard-background-and-foreground-colors for the names of the supported colours.  There is also this page which lists more colour options: http://urwid.org/manual/displayattributes.html#standard-foreground-colors   I'm not sure which will be supported based on how the colours are used, but you're welcome to experiment.

[2021-08-29 23:59] drewauff commented on #113
changing gray to light gray got it to load, but im still stuck default colors — nothing changed?

[2021-08-30 00:32] swalladge commented on #113
@drewauff please post your .snclirc file (obviously with credentials removed), and I'll be happy to take a look.

[2021-08-30 16:16] N0ury commented on #57
Hi,

I'm currently using sncli all day long.
I have a sync between different devices.
It's really annoying to have the log file continously written.
Is it possible to:

1. add this feature to your todo list
2. avoid this mode in the meantime (even with a workaround)

As you can see, sncli is a victim of its own success.

[2021-08-30 23:40] swalladge commented on #57
@N0ury ah wow it's been a while since I wrote this issue; I'd totally forgotten about it.  Yep I can look into it sometime, but it'll be low on my priority list.

You're welcome to submit a pull request btw. :D  The current logging config is set up here:

https://github.com/insanum/sncli/blob/2eeee22a2868d35d8aae00f8301da80348472fcf/simplenote_cli/sncli.py#L33-L41

I think a new config option to s

[2021-09-04 23:23] drewauff commented on #113
sorry about the delay, but here it is...

[code]

[2021-09-05 08:01] swalladge commented on #113
@drewauff hmm there may be more you need to override - see the full list below:

https://github.com/insanum/sncli/blob/2eeee22a2868d35d8aae00f8301da80348472fcf/simplenote_cli/config.py#L79-L122

For example, `clr_note_title_day_fg` defaults to `light red`, and it's missing from your config.

[2021-09-05 08:04] swalladge commented on #113
@drewauff by the way, you can see the current configuration by hitting `h` when sncli is running - this will show the description of each colour config option, the key, and the current setting.

[2021-09-05 08:43] drewauff commented on #113
hmmm, I only put the ones I needed to change.

So, I have to include al of them in the `.snclirc` ?

Ok thanks for tip.

[2021-09-05 08:48] swalladge commented on #113
@drewauff well you'll need to include all that you want to change from the default.  In your case, if you want monochrome, yeah you'll probably need to change all of them.

[2021-09-05 08:53] drewauff commented on #113
Ok, thanks..Ill give it go 👍🏽

[2021-09-05 09:04] drewauff commented on #113
nope samae erro even thought "Gray" is not being used anywhere at all.

[2022-02-07 09:44] xmha97 opened #119 "Doesn't work on Windows"
Doesn't work on Windows :(
![image](https://user-images.githubusercontent.com/23485114/152763524-5634f32b-bf59-4279-9f22-be3bf8934c73.png)

[2022-02-07 20:28] swalladge commented on #119
@xmha97 yes that's correct, Windows is not supported.  It's not easy to add support either, because the UI library we use doesn't support Windows: https://github.com/urwid/urwid/issues/152

[2022-02-07 22:30] N0ury commented on #119
But it works fine on WSL

[2022-02-07 22:37] swalladge commented on #119
@N0ury yep, because WSL is a Linux variant. ;)

Maybe we should document supported systems in the readme; PRs welcome. :)

[2022-02-09 06:28] xmha97 commented on #119
OK, please write in the README file that is not working in Windows.

[2022-05-29 14:45] andmarti1424 commented on #88
Hello. Is there a way to open a note in editor??
this command
`sncli -k a67e0325eb5b4e7790719fc0b22b99d1`
opens it but in viewer mode. not inside editor..
anyone knows? thanks!

[2022-05-29 14:47] N0ury commented on #88
Le 2022-05-29 07:45, Andrés Martinelli a écrit :

Hi,

do the same and then type "e" to edit the note.

[2022-05-29 14:50] andmarti1424 commented on #88
Yes. I am aware of that. But I was asking if there a way to enter directly to edition without the need of pressing 'e'.
thanks again.

[2022-05-31 12:16] andmarti1424 commented on #88
Actually I tried that. And it just showed:
[code]

[2022-09-12 15:13] pataquets opened #120 "[FR] Allow different `cfg_{editor|pager}` config options for Markdown notes"
Markdown notes may benefit from specific, customized pager and editor command, eg: `vim +'set ft=markdown'`. Some `cfg_editor_markdown` configuration setting (with fallback to `cfg_editor` if not present) might do.
Alternatively, passing note flags as command-line parameters, as done with `{fname}` would enable writing a script to solve this.

[2022-09-13 00:03] pataquets commented on #120
@swalladge : I didn't noticed the bug, as I was using the pager most of the time. But opening with `$EDITOR` makes it visible. PR now correctly sets temp file extensions according to note type. LGTM.

However, I've noticed the extension `mkd` being used. Although it's recognized *almost* everywhere, I've found the most commonly used extension to be `md`, which is *always* recognized. Check out [th

[2022-09-13 01:34] pataquets commented on #120
[...]

Me too. A PR open for a while seems like a nice compromise.

[2022-09-27 19:44] pataquets opened #126 "Add "simplenote" tag/topic top project details"
So it'll be listed on https://github.com/topics/simplenote

[2022-11-01 19:25] clach04 opened #129 "duplicate imports - pep-8"
Lines:

* https://github.com/insanum/sncli/blob/master/simplenote_cli/sncli.py#L5
* https://github.com/insanum/sncli/blob/master/simplenote_cli/sncli.py#L7

have duplicate imports of `datetime`.

Any interested in adopting https://peps.python.org/pep-0008/#imports convention?

This may seem like a navel gazing exercise BUT for me to get (partially) working windows support I would like to have the